-# ################################## SUBJECT PROFILE EDIT #############################################
- _uuid = subject_profile.uuid
%div{ id: "edit-#{_uuid}" }

  = render partial: 'forms/header', locals: { style: 'current', title: translate('subject_profile.view.header', operation: t('operation.edit'), full_name: subject.full_name )}
  
  = bootstrap_form_for(subject_profile, :remote => :true ) do |f|

    = f.hidden_field :uuid, value: subject_profile.uuid

    .nothing= f.text_area :description, prepend: t('attribute.description'), placeholder: t('subject_profile.view.description'), hide_label: :true
    .spacer

    .nothing= f.color_field :background_color, prepend: t('attribute.background_color'), placeholder: t('subject_profile.view.background_color'), hide_label: :true, class: 'left-align' 
    .spacer

    .nothing= f.color_field :text_color, prepend: t('attribute.text_color'), placeholder: t('subject_profile.view.text_color'), hide_label: :true, class: 'left-align'
    .spacer

    = render partial: 'forms/footer', locals: { style: 'current' }
