#subject-profile-form{ :class => subject_profile.errors.count == 0 ? 'collapse in' : 'collapse in' }
  .col-xs-15
  .col-xs-30
    .panel.panel-default.nothing
      = render partial: 'shared/common_panel_header', locals: { :style => "current", :data_target => "#subject-profile-form", :title => title }
      .panel-body
        -# .panel-heading{ :style => super_social_network_style }
          %a.toggle{ :type => "toggle", "data-target" => "#subject_profile-form", "data-toggle" => "collapse"}
            .panel-title
              = "Manage your subject profile"
              %span.caret.to-right
          .panel-body
        = bootstrap_form_for(subject_profile, :remote => :true, :html => {:multipart => true} ) do |f|
          .nothing= f.text_area :description, :prepend => :description, :placeholder => "Enter the subject description", :hide_label => :true
          .spacer

          .nothing= f.color_field :background_color, :prepend => "background color", :placeholder => "Enter the standard background color", :hide_label => :true, :class => "left-align" 
          .spacer
          .nothing= f.color_field :text_color, :prepend => "text color", :placeholder => "Enter the standard text color", :hide_label => :true, :class => "left-align"
          .spacer
          .nothing= f.text_field :photo, :prepend => "photo", :placeholder => "Enter the photo path", :hide_label => :true
          .spacer

          = render partial: "subject_profiles/photo_load", locals: { :subject_profile => subject_profile, :size => :profile }
          .spacer

          = render partial: 'shared/common_panel_footer'

          .spacer

.col-xs-15

