- "Upload subject photo"

#upload_subject_photo
	= render partial: "subject_profiles/photo_show", locals: { :subject_profile => subject_profile, :size => :thumb }

- ratio_logo = 1.0
- button_caption = t("subject_profile.view.photo_button_caption")
- photo_folder_name = build_subject_image_path(subject_profile, { :photo => nil } )

#upload_subject_photo1
	:javascript 
		cloudinary.applyUploadWidget(document.getElementById('upload_subject_photo1'), 
		{ cloud_name: "#{cloudinary_name?}", 
		stylesheet: document.baseURI+'/assets/cloudinary.css', theme: "default",
		button_class: 'joinple-button',
		cropping: 'server', multiple: 'false', 
		cropping_aspect_ratio: "#{ratio_logo}", 
		cropping_default_selection_ratio: "1", 
		dpr: 'auto',
		button_caption: "#{button_caption}",
		upload_preset: 'subject-photo', 
		field_name: 'subject_profile[photo]', 
		folder: "#{photo_folder_name}", 
		min_image_width: "300", min_image_height: "300" },
			function(error, result) {console.log(error, result)});

