#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  - social_network = "#{current_social_network_name?.downcase}"
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "##{social_network}-carousel-home"}
    %li{"data-slide-to" => "1", "data-target" => "##{social_network}-carousel-home"}
    %li{"data-slide-to" => "2", "data-target" => "##{social_network}-carousel-home"}
    %li{"data-slide-to" => "3", "data-target" => "##{social_network}-carousel-home"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      %img{:alt => "...", :src => "http://cdn001.crowdupcafe.com/social/#{social_network}/1200x325-1.jpg"}/
      .carousel-caption
        %h3 Page 1
    .item
      %img{:alt => "...", :src => "http://cdn001.crowdupcafe.com/social/#{social_network}/1200x325-2.jpg"}/
      .carousel-caption
        %h3 Page 2
    .item
      %img{:alt => "...", :src => "http://cdn001.crowdupcafe.com/social/#{social_network}/1200x325-3.jpg"}/
      .carousel-caption
        %h3 Page 3
    .item
      %img{:alt => "...", :src => "http://cdn001.crowdupcafe.com/social/#{social_network}/1200x325-4.jpg"}/
      .carousel-caption
        %h3 Page 4
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "##{social_network}carousel-home", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "##{social_network}-carousel-home", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
/ Carousel