- unless current_social_network.nil?
  - unless logged_in? 
    %div.class.center.jumbotron
      %h1="Welcome to the #{current_social_network_name?} app"
      %h2 
        = "This is the home page for the #{current_social_network_name?}:"
        %i= "a #{current_social_network.description}"
      = link_to signup_path, :remote => :true do
        %button.btn.btn-default.btn-lg
          Sign up now!
  -# else
    = render "sessions/create" 