= '=============================== DEBUG ======================================'
</br>
= "current_social_network.class.name: #{current_social_network.class.name}"
</br>
= "current_social_network.name: #{current_social_network.name}"
</br>
