.col-xs-10
.col-xs-40
  .panel.panel-default
    .panel-heading{ :style => super_social_network_style }
      =t("session.view.login.title")
      .panel-title
    .panel-body
      = bootstrap_form_for(:session, :remote => :true ) do |f|
        -# puts "------------ #{f.class.errors}"
        -# render 'shared/error_messages', object: f.object, locals: { @obj => f.object } 
        .nothing= f.text_field :email, :prepend => :email, :placeholder => t("session.view.login.placeholder.email_nickname"), :hide_label => :true
        .spacer
        .nothing= f.text_field :password, :prepend => :password, :placeholder => t("placeholder.password"), :hide_label => :true
        .spacer
        .nothing= f.check_box :remember_me, :label => t("session.view.login.label.remember_me")
        .spacer

        .col-xs-40.nothing
          %button.btn.btn-default.joinple-button-base{ :type => "submit", :name => "commit", :hide_label => :true, :style => super_social_network_style }
            %i.im-log-in
            = t("session.view.login.title")
        .col-xs-20.nothing
          = link_to t("session.view.login.forgot_password"), new_password_reset_path, :remote => :true
          %br
          = t("session.view.login.new_subject") 
          = link_to t("session.view.login.signup_now"), signup_path, :remote => :true
.col-xs-10
