- if is_admin?
  #tech-info.panel.panel-default.collapse.col-xs-60
    .panel
      %a.toggle{ :type => "toggle", "data-target" => "#tech-info", "data-toggle" => "collapse"}
        .panel-heading{ :style => super_social_network_style }
          Session
          %span.caret.to-right
          .panel-title
      .panel-body
        -#
          - caller.each do |l|
            - k = l['/home/pdipietro/joinple/app/views/'].to_s
            = l if k.length > 0
          -#= caller[1..15]
          = " ********************************************************************************************************************************** "
          = caller
          - if defined?(view)
            .ul.col-xs-60
              .title= "Caller: #{view}"
            .border
        .ul.col-xs-60
          .title= "JoinPle - #{stage} - #{cloudinary_name?}"
          .li
            .col-xs-20
              colors
            .col-xs-40{ :style => super_social_network_style }
              color test color test color test color test
        .border
        .ul.col-xs-60
          .title= "Session"
          .li
            .col-xs-20
              Session
            .col-xs-40
              = "#{session} "
          .li
            .col-xs-20
              window screen: width x height (pixel ratio)
            .col-xs-40
              = "#{window_width}x#{window_height} (#{window_pixelRatio}) "
          .li
            .col-xs-20
              browser screen: width x height
            .col-xs-40
              = "#{browser_width}x#{browser_height}"

        .border
        .ul.col-xs-60
          .title= "Subject logged in: #{current_subject.full_name} - @#{current_subject.nickname}"
          .li
            .col-xs-20
              subject_id
            .col-xs-40
              = current_subject_id?
          .li
            .col-xs-20
              admin
            .col-xs-40
              = is_admin?
          .li
            .col-xs-20
              profile
            .col-xs-40
              = current_subject_profile

        .border
        .ul.col-xs-60
          .title= "Current social network: #{current_social_network_name?}"
          .li
            .col-xs-20
              social_network
            .col-xs-40
              = current_social_network
          .li
            .col-xs-20
              uuid
            .col-xs-40
              = current_social_network_uuid?
          .li
            .col-xs-20
              owner uuid
            .col-xs-40
              = current_social_network_owner
              = current_social_network_owner.uuid
          .li
            .col-xs-20
              logo
            .col-xs-40
              = current_social_network_logo?
          .li
            .col-xs-20
              colors
            .col-xs-40{ :style => current_social_network_style }
              color test color test color test color test
        .border
        .ul.col-xs-60
          - cg = nil
          - cg = current_group
          - if cg.nil?
            .title= "No current group selected"
          - else
            .title= "Current group: #{cg.name}"
            .li
              .col-xs-20
                uuid
              .col-xs-40
                = cg.uuid
            .li
              .col-xs-20
                admin
              .col-xs-40
                = is_group_admin?
            -#.li
              .col-xs-20
                colors
              .col-xs-40{ :style => current_group_style }
                color test color test color test color test
        .border
        .ul.col-xs-60
          = Time.new