#discussion-form{ :class => discussion.errors.count == 0 ? 'collapse' : 'collapse in' }
  .col-xs-15
  .col-xs-30
    .panel.panel-default.nothing
      = render partial: 'shared/common_panel_header', locals: { :style => "current", :data_target => "#discussion-form", :title => title }
      .panel-body
        = bootstrap_form_for(discussion, :remote => :true, :html => {:multipart => true} ) do |f|
          = hidden_field = image[0]

          .nothing= f.text_field :title, :prepend => :title, :placeholder => "Enter the discussion title name ", :hide_label => :true
          .spacer
          .nothing= f.text_area :description, :prepend => :description, :placeholder => "Enter the discussion description", :hide_label => :true
          .spacer

          - preset = ImagesKind.find_by(preset_name = "discussion-banner")
          #upload_discussion_banner
            = cl_image_tag discussion.banner, :height => 200, :crop => :scale, :quality => 50, :fetch_format => :auto, :class => "responsive"

          = render partial: "images/view" = { :preset => preset, :destination => image[0] :button_banner_caption => t("discussion.view.button.banner"), :folder => current_social_network_owner.uuid + "/", :stylesheet => document.baseURI+'/assets/cloudinary.css',  }  

          .spacer

          = render partial: 'shared/common_panel_footer'

  .col-xs-15
