- if logged_in?
  #discussions-page
    .command-line-container
      .command-line-l
        = link_to discussions_list_path("iparticipate"), :remote => :true, :title => "View my discussions" do
          %i.activable.im-my-discussions
        = link_to discussions_list_path("iadminister"), :remote => :true, :title => "View discussions I administer" do
          %i.activable.im-admin-discussion
        = link_to discussions_list_path("pendinginvitation"), :remote => :true, :title => "View pending invitation" do
          %i.activable.im-pending-invitations
        = render partial: 'shared/search'
        = link_to discussions_list_path("all"), :remote => :true, :title => "View all discussions" do
          %i.activable.im-all-discussion
        = link_to discussions_list_path("hot"), :remote => :true, :title => "View hot discussions" do
          %i.activable.im-hot-groups
        = link_to discussions_list_path("fresh"), :remote => :true, :title => "View fresh discussions" do
          %i.activable.im-fresh-groups

