- if logged_in?
  -# unless discussion.type == "secret" and is_admin? == false
  - puts "discussion.belongs_to: #{discussion.belongs_to.class.name}"
  - group = discussion.belongs_to.class.name == "Group" ? discussion.belongs_to : nil
  - style = group.nil? ? '' : "border-color: #{group.background_color};"
  - show_group = false unless defined?(show_group)        
  - show_social = false unless defined?(show_social)        
  .discussion{:id => discussion.uuid }
    -# owner = group.get_owner
    - rels = count_relationships(discussion)
    .contour-3{:style => style }
      - if show_group
        = render partial: "groups/owner", locals: { object: discussion }
        .spacer

      .owner
        = render partial: "users/owner", locals: { object: discussion, creation_date: :true }
        %span.to-right
          = discussion.created_at.to_formatted_s(:rfc822)

      .border-1
        = link_to discussion_path(discussion.uuid), :remote => :true, :title => "View details" do
          .row.relative.nothing{ :style => "background-color: #e0e0e0; " }
            .col-xs-51.nothing
              .content
                .title= discussion.title
                = discussion.description
            .col-xs-9.nothing
              -#.to-right.nothing
                - if group.header.length == 0 
                  .group-image-replacement{:style => "background-color: #{group.background_color}; " }
                - else  
                  = image_tag discussion.logo.url(:btn)
                .command-button.to-right
                  - if false
                    = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "add to preferites" do
                      %i.im-preferred.im-20x
                  - else
                    = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "remove from preferites" do
                      %i.im-not-preferred.im-20x{ :style => "color: #{super_social_network_background_color};" }

              -# = image_tag csn.logo_social.url(:md_logo), :class => "responsive semi-transparent", :size => ("30x30")

      .border-1
      %div
        .command-line-s
          = link_to onerel_path(discussion,'Discussion','Members'), :remote => :true, :title => "Members" do
            %i.hoverable.im-members.im
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          = link_to onerel_path(discussion,'Discussion','Members'), :remote => :true, :title => "Discussions" do
            %i.hoverable.im-discussions-groups
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          = link_to onerel_path(discussion,'Discussion','Members'), :remote => :true, :title => "Following/er" do
            %i.hoverable.im-bi-follow
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
        
        .command-line-s.to-right
          = link_to users_list_path('Discussions',discussion.uuid,'likes'), :remote => :true, :title => "Likes", :class => ("hoverable") do
            %i.hoverable.im-like
            = rels["in-likes-User"].nil? ? 0 : rels["in-likes-User"]
          = link_to users_list_path('Discussions',discussion.uuid,'shares'), :remote => :true, :title => "Shares", :class => ("hoverable") do
            %i.hoverable.im-share2
            = rels["in-follows-User"].nil? ? 0 : rels["out-follows-User"]
          = link_to users_list_path('Discussions',discussion.uuid,'preferes'), :remote => :true, :title => "Preferreds", :class => ("hoverable") do
            %i.hoverable.im-bookmarks
            = rels["in-preferes-User"].nil? ? 0 : rels["in-preferes-User"]
      .spacer-2x

      .border-1
        = "First post if any"
      .border-1
        = "Last post if any"
      .border-1

      -# *********************************** DISCUSSION COMMENT LINE ****************************************** 

      - discussion.has_comment.each do |rel|
        = render partial: "discussion_comments/show", locals: { discussion_comment: rel }

      .border-1
      = render partial: "discussion_comments/form", locals: { discussion_comment: DiscussionComment.new, discussion: discussion }


      .border-1
      .command-line-m
        - if can_modify?(discussion)
          = link_to edit_discussion_path(discussion), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
            %i.im-pencil
          = link_to discussion, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
            %i.im-bin
