- if logged_in?
  -# unless discussion.type == "secret" and is_admin? == false
  - puts "discussion.belongs_to: #{discussion.belongs_to.class.name}"
  - group = discussion.belongs_to.class.name == "Group" ? discussion.belongs_to : ""
  - style = group.nil? ? '' : "border-color: #{group.background_color};"
  - show_group = false unless defined?(show_group)        
  - show_social = false unless defined?(show_social)        
  .discussion{:id => discussion.uuid }
    -# owner = group.get_owner
    - rels = count_relationships(discussion)
    .contour-3{:style => style }
      - if show_group
        = render partial: "groups/owner", locals: { object: discussion }
        .spacer

      .owner
        = render partial: "users/owner", locals: { object: discussion, creation_date: :true }
        %span.to-right
          = discussion.created_at.to_formatted_s(:rfc822)

      .border-1
        = link_to discussion_path(discussion.uuid), :remote => :true, :title => "View details" do
          .row.relative.nothing{ :style => "background-color: #e0e0e0; " }
            .col-xs-51.nothing
              .content
                .title= discussion.title
                = discussion.description
            .col-xs-9.nothing
              .to-right.nothing
                - if group.header.length == 0 
                  .group-image-replacement{:style => "background-color: #{group.background_color}; " }
                - else  
                  = image_tag discussion.logo.url(:btn)
                .command-button.to-right
                  - if false
                    = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "add to preferites" do
                      %i.im-preferred.im-20x
                  - else
                    = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "remove from preferites" do
                      %i.im-not-preferred.im-20x{ :style => "color: #{super_social_network_background_color};" }

              -# = image_tag csn.logo_social.url(:md_logo), :class => "responsive semi-transparent", :size => ("30x30")

      .border-1
        %span.command-button
          .spaced-icon
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "Like" do
              = "Like"
        %span.command-button
          .spaced-icon
            = link_to dummy_path(discussion,'Discussion','Share'), :remote => :true, :title => "Share" do
              = "Share"
        %span.command-button
          .spaced-icon
            = link_to dummy_path(discussion,'Discussion','Follow'), :remote => :true, :title => "Follow" do
              = "Follow"
        %span.command-button.to-right
          .spaced-icon
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "Members" do
              %i.im-members.im-20x
              = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          .spaced-icon
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "Discussions" do
              %i.im-discussions-groups.im-20x
              = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          .spaced-icon
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "Following/er" do
              %i.im-bi-follow.im-20x
              = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          .spaced-icon
      .spacer-2x

      .border-1
        = "First post if any"
      .border-1
        = "Last post if any"
      .border-1

      -# management likes/share/followed by

      .command-button
        .spaced-icon
          = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View members" do
            %i.im-members.im-20x
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
        .spaced-icon
          = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View discussions" do
            %i.im-discussions-groups.im-20x
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
        .spaced-icon
          = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View following/er" do
            %i.im-bi-follow.im-20x
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
      .border-1

      -# management comment entry line

      .buttons.nothing
        - comment = DiscussionComment.new
        .panel-body
          .post-icon.nothing
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View members" do
              %i.im-camera.im-20x
          .post-icon.nothing
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View discussions" do
              %i.im-attachment.im-20x
          .post-icon.nothing
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View following/er" do
              %i.im-like.im-20x
          .input-group.search
            = bootstrap_form_for(comment, :remote => :true, :html => {:multipart => true} ) do |f|
              %input.form-control{:placeholder => "Add a comment ...", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "button"}
                    %i.nothing.im-send-post.im-15
      .border-1

      -# attachment notification

      .buttons.nothing
        .panel-body{ :id => "#{discussion.uuid}" }
          .post-icon.nothing
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View members" do
              %i.im-camera.im-20x
          .post-icon.nothing
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View discussions" do
              %i.im-attachment.im-20x
          .post-icon.nothing
            = link_to dummy_path(discussion,'Discussion','likes'), :remote => :true, :title => "View following/er" do
              %i.im-like.im-20x
          .input-group.search
            = bootstrap_form_for(comment, :remote => :true, :html => {:multipart => true} ) do |f|
              %input.form-control{:placeholder => "Add a comment ...", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "button"}
                    %i.nothing.im-send-post.im-15


      .border-1
      .command-button{ :style => "background-color: #{group.background_color}; color: #{group.text_color};" }
        - if can_modify?(discussion)
          .spaced-icon
            = link_to edit_discussion_path(discussion), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
              %i.im-pencil
          .spaced-icon
            = link_to discussion, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
              %i.im-bin
        .spaced-icon
          = link_to onerel_path(discussion,'Discussion','participates'), :type => "button", :method => :post, :remote => :true, :title => "Join", :style => super_social_network_style do
            = "Join"
            %span.glyphicons.icon-like-1
            = likes = discussion.query_as(:p).match("(p)<-[r:participates]-(u:User)").pluck(:u).count
            %br
        -#.spaced-icon
          %button.btn.btn-default.btn-sm-nothing{ :type => "submit", :name => "commit", :hide_label => :true, :style => super_social_network_style }
            = "Join"
    .spacer
