- if logged_in?
  - csn = current_social_network
  - group = discussion.belongs_to

  #discussion-header
    .relative.nothing
      = image_tag discussion.header.url(:md_header), :class => "responsive"
      = image_tag group.logo.url(:thumb), :class => "responsive overloaded-logo-80"
      - if group.logo.length === 0 
        .group-thumb-image-replacement{:style => "background-color: #{group.background_color}; ", :class => "overloaded-logo" }
      %span.semi-transparent-bar
      %span.solid-text
        %span.title= group.name
        = " - "
        = group.description
        %span.spaced-icon.transparent
          %button.btn.btn-default.btn-sm-nothing{ :type => "submit", :name => "commit", :hide_label => :true }= "J"

    .spacer

    = render partial: "discussions/show", locals: { discussion: discussion }

