- if landing_page.errors.count == 0
  %div{ :id => landing_page.uuid }
    = bootstrap_form_for(landing_page, :remote => :true,  :html => {:multipart => true} ) do |f|
      .landing-page-description
        = f.text_area :description, :prepend => :description, :placeholder => "Enter the group description", :hide_label => :true
      -#= f.file_field :header, :prepend => "header image", :placeholder => "Enter the cover image url", :hide_label => :true
      -#= f.file_field :logo, :prepend => "logo image", :placeholder => "Enter the logo image url", :hide_label => :true
      -#= image_tag landing_page.header.url(:l) 
      -#= image_tag landing_page.logo.attachment.url(:logo) 
      .form-group
        = f.text_field :logo, :prepend => "logo image", :placeholder => "Enter the logo image url", :hide_label => :true
        = f.file_field :logo, :prepend => "logo image", :placeholder => "Enter the logo image url", :hide_label => :true
        = image_tag landing_page.logo.url(:logo) 
        = f.hidden_field :logo_cache
      .form-group
        = f.text_field :header, :prepend => "header image", :placeholder => "Enter the header image url", :hide_label => :true, :disabled => :true
        = f.file_field :header, :prepend => "header image", :placeholder => "Enter the header image url", :hide_label => :true
        = image_tag landing_page.header.url(:medium) 
        = f.hidden_field :header_cache
      .form-group     
        %button.icon_only{ :type => "submit", :remote => :true, :name => "commit", :hide_label => :true, :title => "Save the element"  } 
          %span.glyphicon.glyphicon-save
