= form_for @pippo do |f|
  - if @pippo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pippo.errors.count, "error")} prohibited this pippo from being saved:"
      %ul
        - @pippo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :pluto
    = f.text_field :pluto
  .actions
    = f.submit 'Save'
