%h1 Listing dogs

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @dogs.each do |dog|
      %tr
        %td= dog.name
        %td= link_to 'Show', dog
        %td= link_to 'Edit', edit_dog_path(dog)
        %td= link_to 'Destroy', dog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dog', new_dog_path
