%h1 Listing mail_collectors

%table
  %thead
    %tr
      %th Email
      %th
      %th
      %th

  %tbody
    - @mail_collectors.each do |mail_collector|
      %tr
        %td= mail_collector.email
        %td= link_to 'Show', mail_collector
        %td= link_to 'Edit', edit_mail_collector_path(mail_collector)
        %td= link_to 'Destroy', mail_collector, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mail collector', new_mail_collector_path
