#language-form{ :class => language.errors.count == 0 ? 'collapse' : 'collapse in' }
  .spacer
  .col-xs-15
  .col-xs-30
    .panel.panel-default.nothing
      .panel-heading{ :style => super_social_network_style }
        %a.toggle{ :type => "toggle", "data-target" => "#language-form", "data-toggle" => "collapse"}
          .panel-title
            - if defined?(title)
              = title
              .button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close" }
            - else
              = "Add a new language"
            %span.caret.to-right
      .panel-body
        = bootstrap_form_for(language, :remote => :true ) do |f|
          .nothing= f.text_field :code, :prepend => :code, :placeholder => "2 chars language code (ISO 639-1), plus an optional hyphen and 2 chars country code", :hide_label => :true, :text => "language code"
          .spacer
          .nothing= f.text_field :description, :prepend => :description, :placeholder => "Enter the language description", :hide_label => :true, :text => "language description"
          .spacer

          %button.icon_only{ :type => "submit", :name => "commit", :hide_label => :true, :title => "Save the element" } 
            %i.im-dot
            = "save"
          %button.icon_only{ :type => "reset", :name => "reset", :hide_label => :true, :title => "cancel" } 
            %i.im-cancel-circle
            = "exit without saving"  
  .col-xs-15

