#language-form{ :class => language.errors.count == 0 ? 'collapse' : 'collapse in' }
  .spacer
  .col-xs-15
  .col-xs-30
    .panel.panel-default.nothing
      = render partial: 'shared/common_panel_header', locals: { :style => "super", :data_target => "#language-form", :title => title }
      .panel-body
        = bootstrap_form_for(language, :remote => :true ) do |f|
          .nothing= f.text_field :code, :prepend => :code, :placeholder => "2 chars language code (ISO 639-1), plus an optional hyphen and 2 chars country code", :hide_label => :true, :text => "language code"
          .spacer
          .nothing= f.text_field :description, :prepend => :description, :placeholder => "Enter the language description", :hide_label => :true, :text => "language description"
          .spacer

          = render partial: 'shared/common_panel_footer'
  .col-xs-15

