%div
  .language{ :id => language.uuid }
    - if language.errors.count == 0
      .contour-3{:style => "#{super_social_border_color}, color: #000000; background-color: #ffffff;" }
        .language-title
          = language.code 
        .language-content
          = language.description 
        - if is_admin? 
          %div{:style => super_social_network_style }
            .spacer
            .command-line-m
              - if can_modify?(language)
                = link_to edit_language_path(language), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
                  %i.im-pencil
                = link_to language, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
                  %i.im-bin


