%div
  - if language.errors.count == 0
    = link_to language_path(language.uuid), :remote => :true, :title => "Edit" do
      .language{ :id => language.uuid }
        .language-title{ :style => super_social_network_style }
          = language.code 
        .language-content
          = language.description 
        -#= social_network.goal
        -#- if can_modify?(social_network)
        -#.command-button
          = link_to edit_social_network_path(social_network), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
            %i.im-save
          = link_to social_network, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
            %i.im-bin
    .spacer
