- uuid = "d" + SecureRandom.uuid
.full-screen-doc{ :id => "#{uuid}", :style => ("z-index: #{DateTime.now.strftime('%m%d%H%M%S%L')}; ")}
	%nav.navbar-default.navbar-fixed-top{ :role => "navigation" }
		.container-fluid.shadowing
			.navbar-header
				%button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse",  "data-target" => "#{uuid}-c" }
					%span.sr-only  Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				.navbar-brand.logo
					= cl_image_tag("logo_joinple.png", :width => 110, :crop=>:scale, :fetch_format=>:auto, :class => "logo")
			.navbar-collapse.collapse{ :id => "#{uuid}-c" }
				%ul.nav.navbar-nav.navbar-right
					%li
						= link_to hide_path("#{uuid}"), :remote => :true, :title => "Close" do
							Close
	.row
		.col-xs-2
		.col-xs-56
			.embed
				= render file: UrlSafeBase64.decode64(doc)
		.col-xs-2


