- uuid = "d" + SecureRandom.uuid
.full-screen-doc{ :id => "#{uuid}", :style => ("z-index: #{DateTime.now.strftime('%m%d%H%M%S%L')}; ")}
	%nav.navbar-default.navbar-fixed-top{ :role => "navigation" }
		.container-fluid.shadowing
			.navbar-brand.logo
				= cl_image_tag("logo_joinple.png", :width => 110, :crop=>:scale, :fetch_format=>:auto, :class => "logo")
			.navbar-collapse.collapse
				%ul.nav.navbar-nav.navbar-right
					%li
						= link_to hide_path("#{uuid}"), :remote => :true, :title => "Close" do
							Close
	.row
		.col-xs-2
		.col-xs-56
			.embed
				= render file: UrlSafeBase64.decode64(doc)
		.col-xs-2
