#group-form{ :class => group.errors.count == 0 ? 'collapse' : 'collapse in' }
  .col-xs-15
  .col-xs-30
    - uuid = SecureRandom::uuid
    - logger.debug ("uuid _form: #{group.uuid}")

    .panel.panel-default.nothing
      = render partial: 'shared/common_panel_header', locals: { :style => "current", :data_target => "#group-form", :title => title }
      .panel-body
        = bootstrap_form_for(group, :remote => :true, :html => {:multipart => true} ) do |f|
          = f.hidden_field :uuid, :value => uuid
          .nothing= f.text_field :name, :prepend => t("attribute.name"), :placeholder => t("group.view.placeholder.name"), :hide_label => :true
          .spacer
          .nothing= f.text_area :description, :prepend => t("attribute.description"), :placeholder => t("group.view.placeholder.description"), :hide_label => :true

          = f.collection_radio_buttons :type, [[t("group.view.open")], [t("group.view.closed")], [t("group.view.secret")]], :first, :first, :inline => true, :checked => group.type, :prepend => t("group.view.type").html_safe, :label => t("group.view.type").html_safe, :class => "nothing", :item_wrapper_class => 'radio inline', :item_wrapper_tag => :label, :collection_wrapper_tag => :div, :collection_wrapper_class => "controls"

          .nothing= f.color_field :background_color, :prepend => t("attribute.background_color"), :placeholder => "Enter the standard background color", :hide_label => :true, :class => "left-align" 
          .spacer
          .nothing= f.color_field :text_color, :prepend => t("attribute.text_color"), :placeholder => "Enter the standard text color", :hide_label => :true, :class => "left-align" 
          .spacer

          = render partial: "groups/image_load", locals: { :group => group, :size => :profile, :uuid => uuid }
          .spacer

          = render partial: 'shared/common_panel_footer'

  .col-xs-15

