- if is_admin?
  -#.p
    - user = current_user
    - csn = current_social_network
    - search = PostComment.new
    #common-header
      = bootstrap_form_for(search, :remote => :true ) do |f|
        = render partial: 'top_left'
  #groups_page
    #common-header-left
      .buttons.nothing
        .post-icon.nothing
          = link_to groups_list_path("iparticipate"), :remote => :true, :title => "View my groups" do
            %i.activable.im-my-groups.im-25x
        .post-icon.nothing
          = link_to groups_list_path("iadminister"), :remote => :true, :title => "View groups I administer" do
            %i.activable.im-admin-group.im-25x
        .post-icon.nothing
          = link_to groups_list_path("all"), :remote => :true, :title => "View all groups" do
            %i.activable.im-all-groups.im-25x
        = render partial: 'shared/search'
    .spacer

