- "Upload group images"

- logger.info ("uuid: #{group.uuid}")

#upload_group_logo
	= cl_image_tag group.logo, :height => 200, :crop => :scale, :quality => 50, :class => "responsive"
- ratio_logo = 1.0
- button_logo_caption = t("group.view.button.logo")
- logo_folder_name = build_object_image_path( { :social => current_social_network_uuid?, :group => uuid, :logo => nil } )

#upload_group_logo1
	:javascript 
		cloudinary.applyUploadWidget(document.getElementById('upload_group_logo1'), 
		{ cloud_name: "#{cloudinary_name?}", 
		stylesheet: document.baseURI+'/assets/cloudinary.css', theme: "default",
		button_class: 'joinple-button',
		cropping: 'server', multiple: 'false', 
		cropping_aspect_ratio: "#{ratio_logo}", 
		cropping_default_selection_ratio: "1", 
		button_caption: "#{button_logo_caption}",
		upload_preset: 'group-logo', 
		field_name: 'group[logo]', 
		folder: "#{logo_folder_name}", 
		min_image_width: "300", min_image_height: "300" },
			function(error, result) {console.log(error, result)});


#upload_group_banner
	= cl_image_tag group.banner, :height => 200, :crop => :scale, :quality => 50, :class => "responsive"

- ratio_banner = 2
- button_banner_caption = t("group.view.button.banner")
- banner_folder_name = build_object_image_path( { :social => current_social_network_uuid?, :group => uuid, :banner=> nil } )

#upload_group_banner1
	:javascript 
		cloudinary.applyUploadWidget(document.getElementById('upload_group_banner1'), 
		{ cloud_name: "#{cloudinary_name?}", 
		stylesheet: document.baseURI+'/assets/cloudinary.css', theme: "default",
		button_class: 'joinple-button',
		cropping: 'server', multiple: 'false', 
		cropping_aspect_ratio: "#{ratio_banner}", 
		cropping_default_selection_ratio: "1", 
		button_caption: "#{button_banner_caption}",
		upload_preset: 'group-banner', 
		field_name: 'group[banner]', 
		folder: "#{banner_folder_name}", 
		min_image_width: "2560", min_image_height: "1280" },
			function(error, result) {console.log(error, result)});

