- group = object.belongs_to
- show_date = defined?(creation_date) 

= link_to group_path(group.uuid), :remote => :true, :title => "Go to group" do
  .nothing.group-mini-header{ :style => group.style }
    %span.to-right
      = image_tag group.logo.url(:btn)
    %span.title= "#{group.name}"
    %br
    %span= group.description
    - if show_date
      %span.to-right
        = object.created_at
  .spacer{ :style => group.style }
