- if logged_in?
  #right-context
    - grps = get_group_subset(1,7,subset)
    = link_to groups_path, :remote => :true do
      %li.left.list-group-item.no-padding{ :id => "#{subset}", :style => current_social_network_style }
        = "#{title}"
    - grps.each do |group|
      = link_to group_path(:id => group.uuid), :remote => :true do
        %li.left.list-group-item.no-padding
          = group.name
