- unless group.type == "secret" and is_admin? == false
  %div
    .group{:id => group.uuid }
      - rels = count_relationships(group)
      .contour-3{:style => "border-color: #{group.background_color}; " }
        = link_to group_path(group.uuid), :remote => :true, :title => "View details", :class => ("hoverable") do
          .relative.nothing
            - if group.header.length === 0 
              .group-image-replacement{:style => "background-color: #{group.background_color}; " }
            - else  
              = image_tag group.header.url(:sm_banner), :class => "responsive"
            = image_tag csn.logo_social.url(:md_logo), :class => "responsive semi-transparent", :size => ("30x30")

          .content
            .title= group.name
            = group.description
      
        .border-1
        %span= "This group is "
        %b= group.type 

        .border-1
        .command-line-s
          = link_to dummy_path(group,'Group','likes'), :remote => :true, :title => "View members", :class => ("hoverable") do
            %i.hoverable.im-members
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          = link_to dummy_path(group,'Group','likes'), :remote => :true, :title => "View discussions", :class => ("hoverable") do
            %i.hoverable.im-discussions-groups
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          = link_to dummy_path(group,'Group','likes'), :remote => :true, :title => "View following/er", :class => ("hoverable") do
            %i.hoverable.im-bi-follow
            = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
        .border-1
        = render partial: "users/owner", locals: { object: group }

        %div{ :style => "background-color: #{group.background_color}; color: #{group.text_color};" }
          .spacer
          .command-line-m
            - if can_modify?(group)
              = link_to edit_group_path(group), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
                %i.im-pencil{ :style => "color: #{group.text_color};" }
              = link_to group, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
                %i.im-bin{ :style => "color: #{group.text_color};" }
            = link_to onerel_path(group,'Group','participates'), :type => "button", :method => :post, :remote => :true, :title => "Join", :style => super_social_network_style do
              = "Join"
              %br
