- if logged_in?
  - csn = current_social_network

  #group-header
    .relative.group-header
      = image_tag group.header.url(:md_banner), :class => "responsive rounded"
      -#= image_tag group.logo.url(:thumb), :class => "responsive overloaded-logo-80", :size => ("80x80")
      = image_tag group.logo.url(:thumb), :class => "responsive overloaded-logo-80"
      - if group.logo.length === 0 
        .group-thumb-image-replacement{:style => "background-color: #{group.background_color}; ", :class => "overloaded-logo-80" }
      %span.semi-transparent-bar
      %span.solid-text
        %span.title= group.name
        = " - "
        = group.description
        = " - "
        = current_group.uuid unless current_group.nil?
        %span.spaced-icon.transparent
          %button.btn.btn-default.btn-sm-nothing{ :type => "submit", :name => "commit", :hide_label => :true }= "J"
      %span.solid-text
        %span.to-right
          %b= group.type 
          %span= "group"
          = " - "
          - users_number = Neo4j::Session.query.match("(user:User)-[p:participates|owns|admins]->(g:Group { uuid : '#{@group.uuid}' }) return count (distinct user) as c").first[:c]
          = pluralize(users_number,"member")
          %span.spaced-icon
            = link_to onerel_path(group,'Group','participates'), :type => "button", :method => :post, :remote => :true, :title => "Join", :style => super_social_network_style, :class => "btn btn-default btn-sm-nothing" do
              = "Join"

    .command-line-container
      .command-line-l
        = link_to group_list_path(group.uuid,"mydiscussions"), :remote => :true, :title => "View my group discussions" do
          %i.activable.im-my-discussions.im-2x
        = link_to group_list_path(group.uuid,"alldiscussions"), :remote => :true, :title => "View all group discussions" do
          %i.activable.im-all-discussions.im-2x
        = link_to group_list_path(group.uuid,"myevents"), :remote => :true, :title => "View my group events" do
          %i.activable.im-my-events.im-2x
        = link_to group_list_path(group.uuid,"allevents"), :remote => :true, :title => "View all group events" do
          %i.activable.im-all-events.im-2x
        = link_to group_list_path(group.uuid,"invite"), :remote => :true, :title => "Invite other people" do
          %i.activable.im-invite-someone.im-2x
        = render partial: 'shared/search'
        = link_to group_list_path(group.uuid,"info"), :remote => :true, :title => "View group info" do
          %i.activable.im-about.im-2x
        = link_to group_list_path(group.uuid,"admins"), :remote => :true, :title => "View group admins" do
          %i.activable.im-admin-group.im-2x
        = link_to group_list_path(group.uuid,"members"), :remote => :true, :title => "View group members" do
          %i.activable.im-members.im-2x
        - if can_modify?(group)
          = link_to edit_group_path(group), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
            %i.activable.im-pencil.im-2x
 