- search = "AA"
.group-header{ :style => "background-color: #{group.background_color}; color: #{group.text_color};" }
  %img.img-header.group{ :src => "http://cdn001.crowdupcafe.com/public/863x200-transparent.svg" }  
  .container-fluid.nopadding
    %aside.col-xs-10
      .group-header.left
        .group-title
          = group.name
        .group-description
          - if group.description.length > 150
            %div{ :name => "moreorless", :class => "collapse in" } 
              = "#{group.description[0..150]}"
              %a.toggle{ :type => "toggle", "data-target" => "div[name=moreorless]", "data-toggle" => "collapse"}
                .more
                  more 
                  %span
                    %i.fa.glyphicons.glyphicons-more
            %div{ :name => "moreorless", :class => "collapse" } 
              = group.description
              %a.toggle{ :type => "toggle", "data-target" => "div[name=moreorless]", "data-toggle" => "collapse"}
                .more
                  %span
                    %i.fa.glyphicons.glyphicons-more
                  less 
          - else
            = group.description
    .col-xs-2
      .group-header.right
        .to-right
          = group.is_private ? "private group" : "public group"
        .to-right
          = group.is_open ? "open group" : "closed group"
        .to-right
          - members = group.query_as(:g).match("(g)<-[r:is_member_of|owns]-(u:User)").pluck(:u).count
          = "#{pluralize(members, "member")}"
        - is_admin = group.query_as(:g).match("(g)<-[r:owns]-(u:User { uuid: '#{current_user.uuid}' })").pluck(:u).count
        .to-right
          - if is_admin == 1 
            = "administrator"
          - else
            - is_member = group.query_as(:g).match("(g)<-[r:is_member_of]-(u:User { uuid: '#{current_user.uuid}' })").pluck(:u).count
            - txt = is_member == 1 ? "abandone the group" : "join the group"
            = link_to onerel_path(group,'Group','has_member'), :method => :post, :remote => :true, :title => txt do
              - if is_member == 1 
                %i.fa.fa-icon.icon-log-out.fa-2x
              - else
                %i.fa.fa-icon.icon-log-in.fa-2x
= render partial: 'posts/search' 
