- if logged_in?
  - provide(:title, @user.full_name)
  %aside.col-md-3
    %section.user_info= render 'shared/user_info', object: @user
    = render 'shared/stats'
    %section#myworkroom= render 'shared/preferites'
    %section#mydiscussion= render 'shared/discussions'
    %section#mygroups= render 'shared/groups'
    %section#mycommunities= render 'shared/communities'
    %section#mychats= render 'shared/chats'
    %section#mylikes= render 'shared/likes'
    %section#myimages= render 'shared/images'

  .col-md-9
    - @posts = @user.owns.query_as(:o).where("o:Post").pluck(:o)
    = render 'shared/posts', object: @posts
