%span.shared_debug
  = "session: #{session.id}, sn: #{current_social_network_name?}, user: #{current_user.nickname unless current_user.nil?}, admin: #{is_admin?} - group: #{current_group_name?} - group admin: #{is_group_admin?}"

