%h1 Languages
%h3 Create a new language
= form_for Post.new do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Publish'
#languages_grid
  - @languages.each do |language|
    = render partial:'shared/language', object: language
