- if logged_in?
  %section.user_info= render partial: 'shared/user_info', object: @user
  = render partial: 'shared/stats'
  %section#mypreferred= render partial: 'shared/menu_preferites'
  %section#mydiscussion= render partial: 'shared/menu_discussions'
  %section#mygroups= render partial: 'shared/menu_groups'
  %section#mychats= render partial: 'shared/menu_chats'
  %section#myimages= render partial: 'shared/menu_images'

