- if logged_in?
  - user = current_user
  - social_network = current_social_network
  - right_menu_icons = right_menu_icons_number
  #user_info.rounded= render partial: 'shared/user_info', locals: { user: user, social_network: current_social_network }
  %ul#myposts.list-group= render partial: 'shared/menu_posts', locals: { user: user, social_network: current_social_network, right_menu_icons: right_menu_icons }
  %ul#myworkrooms.list-group= render partial: 'shared/menu_workrooms', locals: { user: user, social_network: current_social_network, right_menu_icons: right_menu_icons  }
  %ul#mygroups.list-group= render partial: 'shared/menu_groups', locals: { user: user, social_network: current_social_network, right_menu_icons: right_menu_icons  }
  %ul#mydiscussions.list-group= render partial: 'shared/menu_discussions', locals: { user: user, social_network: current_social_network, right_menu_icons: right_menu_icons  }
  -#%ul#mypages.list-group= render partial: 'shared/menu_pages', locals: { user: user, social_network: current_social_network, right_menu_icons: right_menu_icons  }
  %ul#mymedia.list-group= render partial: 'shared/menu_media_managers', locals: { user: user, social_network: current_social_network, right_menu_icons: right_menu_icons  }
  %ul#myblogs.list-group= render partial: 'shared/menu_blogs', locals: { user: user, social_network: current_social_network, right_menu_icons: right_menu_icons  }
