- if logged_in?
  - user = current_user
  -# user_info.nothing{ :style => social_network_color_style }
    = render partial: 'shared/user_info', locals: { user: user }
  #user_info.nothing= render partial: 'shared/user_info', locals: { user: user }
  .spacer



-#
    #myworkrooms.list-group.title.nav-sidebar.nothing-margin-0010= render partial: 'shared/menu_workrooms', locals: { user: user }
    .spacer
    #mymessages.list-group.title.nav-sidebar.nothing-margin-0010= render partial: 'shared/menu_messages', locals: { user: user }
    .spacer
    %ul#mygroups.list-group.title.nav-sidebar.nothing-margin-0010= render partial: 'shared/menu_groups', locals: { user: user }
    .spacer
  -#
    %ul#mydiscussions.list-group.title.nav-sidebar.nothing-margin-0010= render partial: 'shared/menu_discussions', locals: { user: user }
    .spacer
    %ul#mypages.list-group.title.nav-sidebar.nothing-margin-0010= render partial: 'shared/menu_pages', locals: { user: user }
    .spacer
    %ul#myimages.list-group.title.nav-sidebar.nothing-margin-0010= render partial: 'shared/menu_media_managers', locals: { user: user }
    -#%ul#mypreferites.list-group.title.nav-sidebar= render partial: 'shared/menu_preferites', locals: { user: user }
