= link_to posts_path, :remote => :true do
  .row.nothing.top.rounded
    -#.col-xs-13.nothing{ :style => ( " #{current_social_network_background_color_style}; color: #ffffff; ")}
    .col-xs-13.nothing
      #spost-left-button-adjust.left-rounded
        = image_tag current_social_network.logo_social.url(:thumb), :size => ("34x34")

        -#%i.im-all-posts.im-25x
    .col-xs-47.nothing.text-center.right-rounded{ :style => ( " background-color: #ffffff; color: #000000; ") }
      .title= current_social_network_name?
      .row= "Home posts"
