%li.list-group-item
  = link_to groups_path, :remote => :true do
    %span.glyphicons.icon-group
    Groups
  = link_to groups_path, :remote => :true do
    %span.caret.to-right
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    %span.glyphicons.glyphicons-tag
    group 1
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    %span.glyphicons.glyphicons-tag
    group 2
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    %span.glyphicons.glyphicons-tag
    group 3
-#
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-search-find
      Find a group
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-diff-added
      Create a group


