%li.list-group-item
  = link_to posts_path, :remote => :true do
    %span.glyphicons.icon-comment-discussion
    Workrooms
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Detail workroom
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Detail workroom
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Detail workroom
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Detail workroom
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Detail workroom
