%ul.list-group.title.nav-sidebar
  = link_to dummy_path :remote => :true do
    %span.glyphicons.icon-star-two
    Workrooms
  %a.toggle{ :type => "toggle", "data-target" => "#myworkroom", "data-toggle" => "collapse"}
    %span.caret.to-right
%ul#myworkroom.list-group.nav-sidebar.collapse.in
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-crop-streamline
      Detail workroom
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-crop-streamline
      Detail workroom
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-crop-streamline
      Detail workroom
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-crop-streamline
      Detail workroom
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-crop-streamline
      Detail workroom
