%li.left.list-group-item.no-padding{ :style => social_network_color_style }
  = link_to media_managers_path, :remote => :true do
    %span.glyphicons.icon-picture
    Media Manager
%li.list-group-item.no-padding
  = link_to media_manager_path(:landing_page), :remote => :true do
    %span.glyphicons.icon-star-4
    Landing Page
%li.list-group-item.no-padding
  = link_to media_manager_path(:social_networks), :remote => :true do
    Social networks
%li.list-group-item.no-padding
  = link_to media_manager_path(:user), :remote => :true do
    User
%li.list-group-item.no-padding
  = link_to media_manager_path(:groups), :remote => :true do
    Groups
%li.list-group-item.no-padding
  = link_to media_manager_path(:discussions), :remote => :true do
    Discussions
%li.list-group-item.no-padding
  = link_to media_manager_path(:posts), :remote => :true do
    Posts
