%li.list-group-item
  = link_to dummy_path, :remote => :true do
    %span.glyphicons.icon-star-4
    Pages
  = link_to dummy_path, :remote => :true do
    %span.caret.to-right
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.icon-dot.transparent
      Page 1
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.glyphicons-tag
      Page 2
  %li.list-group-item
    = link_to dummy_path, :remote => :true do
      %span.glyphicons.glyphicons-tag
      Page 3
