.section
  %ul.list-group.title
    %li.list-group-item
      %span.glyphicons.icon-star-4
      Messages
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.glyphicons-tag
        Invitation
        %i.fa.fa-shield
        %span.fa-stack.fa-lg
          %i.fa.fa-square-o.fa-stack-2x
          %i.fa.fa-twitter.fa-stack-1x
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.icon-diff-added
        New message
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.icon-box-inbox
        Inbox
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.glyphicons-tag
        Sent
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.glyphicons-tag
        Archive
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.icon-trash-bin
        Trash
