#post-header-right
  - users = User.all
  - (1..1).each do |a|
    - users.each do |user|
      %span.user-faces
        = link_to user_profile_path(user.has_profile.uuid), :remote => :true, :title => "#{user.first_name} #{user.last_name} (@#{user.nickname})" do
          = image_tag user.has_profile.photo.url(:btn), :class => "responsive"

