- if logged_in?
  -#posts = PostsController.index
  - posts = @user.query_as(:o).match("(u)-[r:owns]->(p:Post)").order("p.created_at desc").pluck(:p)
  = "Posts: #{posts}"
  = "Count: #{posts.count}"
  - posts.each do |post|
    = "Post: #{post}"
    = render 'shared/post', object: post
