.stats
  %ul.nav.nav-pills{ :role => "tablist" }
    %li{ :role => "presentation" }
      %a{:href => follows_user_path(user.uuid)}
        - followings_number = user.rels(dir: :outgoing, type: :follows, label: :User).count
        - puts "followings: #{followings_number}"
        = followings_number == 1 ? 'following' : 'following'.pluralize
        %span.badge
          = followings_number
    %li{ :role => "presentation" }
      %a{:href => is_followed_by_user_path(user.uuid)}
        - followers_number = user.rels(dir: :incoming, type: :follows, label: :User).count
        - puts "followers: #{followers_number}"
        = followers_number == 1 ? 'follower' : 'follower'.pluralize
        %span.badge
          = followers_number
        - unless current_user?(user)
          %li
            = link_to onerel_path(user,'User','follows'), :method => :post, :remote => :true do
              %span.glyphicons.icon-pinboard
              - i_follow = current_user.query_as(:p).match("(p)-[r:follows]->(u:User { uuid : '#{user.uuid}' })").pluck(:u).count
              = i_follow == 1 ? "unfollow" : "follow" 
