- rels = count_relationships(subject) 
- subject_profile = subject.has_profile
- social_network = current_social_network
.row.nothing.top-rounded{ :style => current_social_network_style }
  .col-xs-28.nothing
    = render partial: 'subject_profiles/photo_show', locals: { subject_profile: subject_profile, size: :thumb, :shape => "subject-photo"}
  .col-xs-32.nothing
    .subject-info
      .name
        = subject.first_name
        %br
        = subject.last_name
      .nick
        = "@#{subject.nickname}"
      .stars{ :style => "color: yellow;" }
        - stars((1 + rand(49)) / 10.0).each do |k|
          %i{ :class => "im-star-#{k}" }

.row.nothing.subject-info.icons
  .col-xs-12.nothing
    %i.activable.im-following
    %br
    - followings_number = rels['out-follows-Subject']
    = followings_number
  .col-xs-12.nothing
    %i.activable.im-followers
    %br
    - followers_number = rels['in-follows-Subject']
    = followers_number
  .col-xs-12.nothing
    %i.activable.im-discussions
    %br
    - discu_number = rels['in-follows-Discussion']
    = discu_number
  .col-xs-12.nothing
    %i.activable.im-groups
    %br
    - groups_number = rels['out-owns-Group']
    = groups_number
  .col-xs-12.nothing
    %i.activable.im-blog2
    %br
    - blog_number = rels['in-follows-Blog']
    = blog_number
