- rels = count_relationships(user) 
- user_profile = user.has_profile
- social_network = current_social_network
.row.nothing.top-rounded{ :style => current_social_network_style }
  .col-xs-28.nothing
    = image_tag "#{user_profile.photo.url(:thumb)}", :name => "user_profile_#{user_profile.uuid}", :class => "responsive user-photo"
  .col-xs-32.nothing
    .user-info
      .name
        = user.first_name
        %br
        = user.last_name
      .nick
        = "@#{user.nickname}"
      .stars{ :style => "color: yellow;" }
        - stars((1 + rand(49)) / 10.0).each do |k|
          %i{ :class => "im-star-#{k}" }

.row.nothing.user-info.icons
  .col-xs-12.nothing
    %i.activable.im-following
    %br
    - followings_number = rels["out-follows-User"]
    = followings_number
  .col-xs-12.nothing
    %i.activable.im-followers
    %br
    - followers_number = rels["in-follows-User"]
    = followers_number
  .col-xs-12.nothing
    %i.activable.im-discussions
    %br
    172
  .col-xs-12.nothing
    %i.activable.im-groups
    %br
    - groups_number = rels["out-owns-Group"]
    = groups_number
  .col-xs-12.nothing
    %i.activable.im-blog2
    %br
    93
