%li.list-group-item
  %b= user.full_name
%li.list-group-item
  %a{:href => is_followed_by_user_path(user.uuid)}
    = gravatar_for user
%li.list-group-item
  %a{:href => is_followed_by_user_path(user.uuid)}
    - followers_number = user.rels(dir: :incoming, type: :follows, label: :User).count
    = followers_number == 1 ? 'follower' : 'follower'.pluralize
  %span.to-right
    = followers_number
  - unless current_user?(user)
    &nbsp;&nbsp;&nbsp
    = link_to onerel_path(user,'User','follows'), :method => :post, :remote => :true do
      %span.glyphicons.icon-pinboard
      - i_follow = current_user.query_as(:p).match("(p)-[r:follows]->(u:User { uuid : '#{user.uuid}' })").pluck(:u).count
      = i_follow == 1 ? "unfollow" : "follow" 
%li.list-group-item
  %a{:href => follows_user_path(user.uuid)}
    - followings_number = user.rels(dir: :outgoing, type: :follows, label: :User).count
    = followings_number == 1 ? 'following' : 'following'.pluralize
  %span.to-right
    = followings_number
%li.list-group-item
  %a{:href => dummy_path(user.uuid)}
    - posts_number = user.rels(dir: :outgoing, type: :owns, label: :Post).count
    = posts_number == 1 ? 'post' : 'post'.pluralize
  %span.to-right
    = posts_number
%li.list-group-item
  %a{:href => dummy_path(user.uuid)}
    - groups_number = user.rels(dir: :outgoing, type: :owns, label: :Group).count
    = groups_number == 1 ? 'group' : 'group'.pluralize
  %span.to-right
    = groups_number
  