<h1>Dashboardppppppppppppp</h1>

<p>
<%= session['user'] %>
<%= session['provider'] %>
<%= session['user_identity'] %>
<%= session[:user] %>
<%= session[:provider] %>
<%= session[:user_identity] %>
</p>

<%#= link_to "Log out", destroy_identity_session_path, method: :delete  %>

