- user = user_profile.belongs_to
.page-thumbnail{ :style => "color: #{user_profile.text_color}; background-color: #{user_profile.background_color}; " }
  = "#{user.full_name} (@#{user.nickname})'s user profile"
.user-profile{ :id => user_profile.uuid }
  -#.contour-3{:style => "border-color: #{user_profile.text_color}; " }
  = image_tag user_profile.photo.url(:profile), :class => "responsive"
  = "#{user.full_name} (@#{user.nickname})"
  - unless user_profile.description.nil?
    .border-1
      = "#{user_profile.description}"
  .border-1
  - if can_modify?(user_profile)
    .command-line-m
      = link_to edit_user_profile_path(user_profile), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
        %i.im-pencil
      = link_to user_profile, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
        %i.im-bin
