- if post.errors.count == 0
  - owner = post.query_as(:p).match("(p)<-[r:owns]-(u:Subject)").pluck(:u).first
  .item{ :id => post.uuid }
    .xs-3.noborder
      .img-owner1= gravatar_for owner, size: 72
      -# = link_to root_path do
          %span.glyphicons.icon-triangle-up
        = rand(0...1000)
        %br
        = link_to root_path do
          %span.glyphicons.icon-triangle-down
      - if can_modify?(post)
        %span.v-glyphs
          = link_to edit_post_path(post), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
            %span.glyphicon.icon-edit-modify-streamline
          = link_to post, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
            %span.glyphicon.icon-delete-garbage-streamline
    .xs-9
      .post-header
        = "by #{owner.full_name} - #{post.created_at.strftime('%F at %H:%M')}"
      .post-title
        = link_to root_path, :method => :post, :remote => :true, :title => "participate" do
          = post.title
      .post-content
        = post.content
      -#.v-glyphs
      = link_to onerel_path(post,'Post','likes'), :method => :post, :remote => :true, :title => "like" do
        %span.glyphicons.icon-like-1
      = likes = post.query_as(:p).match("(p)<-[r:likes]-(u:Subject)").pluck(:u).count
      Like -
      = link_to root_path, :method => :post, :remote => :true, :title => "share" do
        %span.glyphicons.icon-share-outline
      95
      Share -
      = link_to root_path, :method => :post, :remote => :true, :title => "reply" do
        %span.glyphicons.icon-reply
      35
      Replies -
      = link_to root_path, :method => :post, :remote => :true, :title => "preferite" do
        %span.glyphicons.icon-star-4
      29
      Preferite
