- if defined?(object)
  - logger.debug object.class.name
  - if object.class.name == 'SubjectProfile'
    - subject = object.belongs_to
    - subject_profile = object
  - else
    - subject = object.is_owned_by
    - subject_profile = subject.has_profile
- elsif not subject_profile.nil?
  - subject = subject_profile.belongs_to
- elsif not subject.nil?
  - subject_profile = subject.has_profile
- else
  - object = nil
  - raise "Input requires object or subject_profile or subject)"

- image_uuid = subject_profile.photo subject
- logger.debug "subject: #{subject.first_name} #{subject.last_name}"  
- logger.debug "image: #{image_uuid}"

- title = defined?(title) ? title : "Edit"

- size = :thumb unless defined?(size)
- shape = "" if shape.nil?

- if defined?(special)
  = render partial: "subject_profiles/photo_show", locals: { :image_uuid => image_uuid, :size => size, :shape => shape }
- elsif defined?(use_current_subject)
  = render partial: "subject_profiles/photo_show", locals: { :image_uuid => image_uuid, :size => :btn, :shape => "responsive circle" }
- elsif defined?(show)
  = render partial: "subject_profiles/photo_show", locals: { :image_uuid => image_uuid, :size => size, :shape => "responsive circle padding-1" }
- elsif defined?(type)
  %span{ :class => "semi-transparent-#{type}-bar", :style => "clear: both;" }
  %div.solida
    = link_to subject_profile_path(subject_profile.uuid), :remote => :true, :title => title, :shape => ("hoverable white") do
      = render partial: "subject_profiles/photo_show", locals: { :image_uuid => image_uuid, :size => size, :shape => "circle padding-1" }
      %span.vertical-middle= "#{subject.full_name} (@#{subject.nickname})"
    %span.to-right.vertical-middle
      = "created on #{object.created_at.to_formatted_s(:short)}"
- else
  %span
    = link_to subject_profile_path(subject_profile.uuid), :remote => :true, :title => title, :class => ("hoverable") do
      = render partial: "subject_profiles/photo_show", locals: { :image_uuid => image_uuid, :size => :btn, :shape => "circle padding-1" }
      = "#{subject.full_name} (@#{subject.nickname})"

