.panel.panel-default
  .panel-heading
    .panel-title
      New social network
  .panel-body
    = bootstrap_form_for(social_network, :remote => :true ) do |f|
      = f.text_field :name, :prepend => :name, :placeholder => "Enter the name of the new social network", :hide_label => :true
      = f.text_field :description, :prepend => :description, :placeholder => "Enter a short description of the social network", :hide_label => :true
      = f.text_field :goals, :prepend => :goals, :placeholder => "Describe the goals of the social network", :hide_label => :true
      = f.text_field :use_language, :prepend => "languages", :placeholder => "Select the languages used by the social network", :hide_label => :true
      %button.btn.btn-default.btn-sm{ :type => "submit", :name => "commit", :hide_label => :true }
        %span.glyphicon.icon-diff-added
        Add
