#social-network-form{ :class => social_network.errors.count == 0 ? 'collapse' : 'collapse in' }
  .spacer
  .col-xs-15
  .col-xs-30
    - social_network_2 = social_network
    .panel.panel-default.nothing
      .panel-heading{ :style => super_social_network_style }
        %a.toggle{ :type => "toggle", "data-target" => "#social-network-form", "data-toggle" => "collapse"}
          .panel-title
            - if defined?(title)
              = title
              -#.button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close" }
            - else
              = "Create a new social network"
            %span.to-right
              %i.im-uncheck
      .panel-body
        = bootstrap_form_for(social_network, :remote => :true, :html => {:multipart => true} ) do |f|
          .nothing= f.text_field :name, :prepend => :name, :placeholder => "Enter the name of the new social network", :hide_label => :true, :text => "Social network name"
          .spacer
          .nothing= f.text_field :short_description, :prepend => "short description", :placeholder => "Enter a short description of the social network", :hide_label => :true, :text => "Social network short description"
          .spacer

          .nothing= f.color_field :background_color, :prepend => "background color", :placeholder => "Select the background color", :hide_label => :true, :class => "left-align" 
          .spacer
          .nothing= f.color_field :social_network_color, :prepend => "social network color", :placeholder => "Select the social network color", :hide_label => :true, :class => "left-align" 
          .spacer
          .nothing= f.color_field :text_color, :prepend => "title text color", :placeholder => "Select the title text color", :hide_label => :true, :class => "left-align" 
          .spacer

          .nothing= f.text_field :logo, :prepend => "banner", :placeholder => "Select an external logo (400x300 px)", :hide_label => :true, :disabled => :true
          .spacer
          .nothing= f.file_field :logo, :prepend => "banner", :placeholder => "Select an external logo (400x300 px)", :hide_label => :true
          .spacer
          .nothing= image_tag social_network.logo.url(:logo) 
          .spacer
          .nothing= f.hidden_field :logo_cache

          .nothing= f.text_field :logo_social, :prepend => "logo", :placeholder => "Select an internal logo (166x166 px)", :hide_label => :true, :disabled => :true
          .spacer
          .nothing= f.file_field :logo_social, :prepend => "logo", :placeholder => "Select an internal logo (166x166 px)", :hide_label => :true
          .spacer
          .nothing= image_tag social_network.logo_social.url(:thumb) 
          .spacer
          .nothing= f.hidden_field :logo_social_cache

          .spacer 
          .nothing= f.text_field :description, :prepend => :description, :placeholder => "Enter a short description of the social network", :hide_label => :true, :text => "Social network description"
          .spacer
          .nothing= f.text_field :slogan, :prepend => :slogan, :placeholder => "Describe the slogan of the social network", :hide_label => :true, :text => "Social network slogan"
          .spacer
          .nothing= f.text_field :mission, :prepend => :mission, :placeholder => "Describe the mission of the social network", :hide_label => :true, :text => "Social network mission"
          .spacer

          %button.icon_only{ :type => "submit", :name => "commit", :hide_label => :true, :title => "Save the element" } 
            %i.im-check
            = "save"
          %button.icon_only{ :type => "reset", :name => "reset", :hide_label => :true, :title => "Clear the form" } 
            %i.im-uncheck
            = "clear"  

  .col-xs-15

