#social-network-form

  .spacer
  .col-xs-10
  .col-xs-40
    - social_network_2 = social_network
    .panel.panel-default.nothing
      - title = t("social_network.view.create_title") unless defined?(title) 
      = render partial: 'shared/common_panel_header', locals: { :style => "super", :data_target => "#social-network-form", :title => title }

      .panel-body
        = bootstrap_form_for(social_network, :remote => :true, :html => {:multipart => true} ) do |f|
          -#.nothing= f.text_field :nickname, :prepend => t("subject.model.attribute.nickname"), :placeholder => t("subject.view.signup.placeholder.nickname"), :hide_label => :true
          -#= f.hidden_field :uuid, :value => social_network.uuid?
          .nothing= f.text_field :name, :prepend => :name, :placeholder => "Enter the name of the new social network", :hide_label => :true, :text => "Social network name"
          .spacer
          .nothing= f.text_field :short_description, :prepend => "short description", :placeholder => "Enter a short description of the social network", :hide_label => :true, :text => "Social network short description"
          .spacer
          .nothing= f.text_field :description, :prepend => :description, :placeholder => "Enter a short description of the social network", :hide_label => :true, :text => "Social network description"

          .spacer
          .nothing= f.text_field :slogan, :prepend => :slogan, :placeholder => "Describe the slogan of the social network", :hide_label => :true, :text => "Social network slogan"
          .spacer
          .nothing= f.text_field :goal, :prepend => :goal, :placeholder => "Describe the goal of the social network", :hide_label => :true, :text => "Social network goal"
          .spacer 
          .nothing= f.color_field :background_color, :prepend => "background color", :placeholder => "Select the background color", :hide_label => :true, :class => "left-align" 
          .spacer
          .nothing= f.color_field :social_network_color, :prepend => "social network color", :placeholder => "Select the social network color", :hide_label => :true, :class => "left-align" 
          .spacer
          .nothing= f.color_field :text_color, :prepend => "title text color", :placeholder => "Select the title text color", :hide_label => :true, :class => "left-align" 
          .spacer
          .input-group
            .input-group-addon= t("social_network.model.attribute.is_visible").html_safe
            .form-control.left-align= f.collection_radio_buttons :is_visible, t("social_network.options.is_visible"), :first, :last, :inline => true, :checked => :is_visible, :class => "left-align", :item_wrapper_class => 'radio inline', :hide_label => :true

          .spacer
          .input-group
            .input-group-addon= t("social_network.model.attribute.is_online").html_safe
            .form-control.left-align= f.collection_radio_buttons :is_online, t("social_network.options.is_online"), :first, :last, :inline => true, :checked => :is_visible, :class => "left-align", :item_wrapper_class => 'radio inline', :hide_label => :true

          .spacer
          .input-group
            .input-group-addon= t("social_network.model.attribute.status").html_safe
            .form-control.left-align= f.collection_radio_buttons :status, t("social_network.options.status"), :first, :last, :inline => true, :checked => :is_visible, :class => "left-align", :item_wrapper_class => 'radio inline', :hide_label => :true


          = cl_image_tag social_network.logo, :height => 200, :crop => :scale, :quality => 50, :class => "responsive"
          .ds
            #upload_social_network_logo
            - ratio_logo = 1.0
            - logo_button_caption = t("social_network.view.logo_button_caption")
            - logo_folder_name = build_object_image_path options = { :subject => "#{current_subject.uuid?}", :social => "#{social_network.uuid?}", :logo => nil } 
            :javascript 
              cloudinary.applyUploadWidget(document.getElementById('upload_social_network_logo'), 
              { cloud_name: "#{cloudinary_name?}",  
              stylesheet: document.baseURI+'/assets/cloudinary.css', theme: "default",
              button_class: 'joinple-button',
              cropping: 'server', multiple: 'false', 
              cropping_aspect_ratio: "#{ratio_logo}", 
              cropping_default_selection_ratio: "1",  
              button_caption: "#{logo_button_caption}",
              upload_preset: 'social-logo', 
              field_name: 'social_network[logo]',
              folder: "#{logo_folder_name}", 
              min_image_width: "300", min_image_height: "300" });

          = cl_image_tag social_network.banner, :height => 200, :crop => :scale, :quality => 50, :class => "responsive"
          .es
            #upload_social_network_banner
            - ratio_banner = 2.0
            - banner_button_caption = t("social_network.view.banner_button_caption")
            - banner_folder_name = build_object_image_path options = { :subject => "#{current_subject.uuid?}", :social => "#{social_network.uuid?}", :banner => nil } 
            :javascript 
              cloudinary.applyUploadWidget(document.getElementById('upload_social_network_banner'), 
              { cloud_name: "#{cloudinary_name?}",  
              stylesheet: document.baseURI+'/assets/cloudinary.css', theme: "default",
              button_class: 'joinple-button',
              cropping: 'server', multiple: 'false', 
              cropping_aspect_ratio: "#{ratio_banner}", 
              cropping_default_selection_ratio: "1", 
              button_caption: "#{banner_button_caption}",
              upload_preset: 'social-banner', 
              field_name: 'social_network[banner]',
              folder: "#{banner_folder_name}", 
              min_image_width: "1280", min_image_height: "640" },
                function(error, result) {console.log(error, result)});

          .spacer

          = render partial: 'shared/common_panel_footer'

  .col-xs-10

