#social-network-form{ :class => social_network.errors.count == 0 ? 'collapse' : 'collapse in' }
  .spacer
  .col-xs-15
  .col-xs-30
    .panel.panel-default.nothing
      .panel-heading{ :style => super_social_network_style }
        %a.toggle{ :type => "toggle", "data-target" => "#social-network-form", "data-toggle" => "collapse"}
          .panel-title
            - if defined?(title)
              = title
              .button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close" }
            - else
              = "Create a new social network"
            %span.caret.to-right
      .panel-body
        = bootstrap_form_for(social_network, :remote => :true, :html => {:multipart => true} ) do |f|
          .nothing= f.text_field :name, :prepend => :name, :placeholder => "Enter the name of the new social network", :hide_label => :true, :text => "Social network name"
          .spacer
          .nothing= f.text_field :description, :prepend => :description, :placeholder => "Enter a short description of the social network", :hide_label => :true, :text => "Social network description"
          .spacer
          .nothing= f.text_field :goal, :prepend => :goal, :placeholder => "Describe the goals of the social network", :hide_label => :true, :text => "Social network goals"
          .spacer

          .nothing= f.color_field :background_color, :prepend => "background color", :placeholder => "Enter the standard background color", :hide_label => :true, :class => "left-align" 
          .spacer
          .nothing= f.color_field :text_color, :prepend => "text color", :placeholder => "Enter the standard text color", :hide_label => :true, :class => "left-align" 
          .spacer

          .nothing= f.text_field :logo, :prepend => "logo image", :placeholder => "Select an external logo (400x300 px)", :hide_label => :true, :disabled => :true
          .spacer
          .nothing= f.file_field :logo, :prepend => "logo image", :placeholder => "Select an external logo (400x300 px)", :hide_label => :true
          .spacer
          .nothing= image_tag social_network.logo.url(:logo) 
          .spacer
          .nothing= f.hidden_field :logo_cache

          .nothing= f.text_field :logo_social, :prepend => "logo image", :placeholder => "Select an internal logo (166x166 px)", :hide_label => :true, :disabled => :true
          .spacer
          .nothing= f.file_field :logo_social, :prepend => "logo image", :placeholder => "Select an internal logo (166x166 px)", :hide_label => :true
          .spacer
          .nothing= image_tag social_network.logo_social.url(:thumb) 
          .spacer
          .nothing= f.hidden_field :logo_social_cache

          %button.icon_only{ :type => "submit", :name => "commit", :hide_label => :true, :title => "Save the element" } 
            %i.im-save-3
            = "save"
          %button.icon_only{ :type => "reset", :name => "reset", :hide_label => :true, :title => "cancel" } 
            %i.im-cancel-circle
            = "exit without saving"  
  .col-xs-15

