- if social_network.errors.count == 0
  %div
    .social-network{ :id => social_network.uuid }
      = link_to social_network_path(social_network.uuid), :remote => :true, :title => "Edit" do
        .contour-3{:style => "border-color: #{social_network.social_network_color}; " }
          %a{ :href => "#{calculate_full_path(social_network)}" }
            .relative
              = cl_image_tag social_network.banner, height: 250, :class => "responsive"
              = cl_image_tag social_network.logo, :height => 48, :width => 48, :style => "position: absolute; bottom: 0px;"
            .title= social_network.name
            .short-description= social_network.short_description
          .border-1
          = render partial: 'subjects/owner', locals: { object: social_network  }
          .border-1
          %div{ :style => "background-color: #{social_network.social_network_color}; color: #{social_network.text_color};" }
            .spacer
            .command-line-m
              - if can_modify?(social_network)
                = link_to edit_social_network_path(social_network), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
                  %i.im-pencil{ :style => "color: #{social_network.text_color};" }
                = link_to social_network, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
                  %i.im-bin{ :style => "color: #{social_network.text_color};" }
              %button.btn.btn-default.btn-sm-nothing.joinple-button-base{ :type => "submit", :name => "commit", :hide_label => :true, :style => super_social_network_style }
                = "Join"
