%div
  - if social_network.errors.count == 0
    = link_to social_network_path(social_network.uuid), :remote => :true, :title => "Edit" do
      .p{ :id => social_network.uuid, :style => "background-color: #{social_network.background_color}; color: #{social_network.text_color};"  }
        = image_tag social_network.logo.url(:cover), :class => "responsive"
        .content-element-title= social_network.name
        = social_network.description
        -#= social_network.goal
        -#- if can_modify?(social_network)
        .command-button
          = link_to edit_social_network_path(social_network), :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Modify the element" do
            %i.im-pencil
            %a.toggle{ :type => "toggle", "data-target" => "#social-network-form", "data-toggle" => "collapse in", :title => "Create new social network"}
 
          = link_to social_network, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => :true, :hide_label => :true, "data-placement" => :top, :title => "Delete the element" do
            %i.im-bin
