-#****************************************************************************************************************
  - sample: render partial: 'header', locals: { style: 'your style', form_name: 'form_name', title: 'your title', f_uuid: f_uuid}
  - Needs three params:
    - style: a String usually one of
      - "current" for current_social_network_style
      - "super" super_social_network_style
      - or a different style that will be passed as a block
    - data-target: the toggler to be used 
      - example: "#group-form"
    - title
    - f_uuid: uuid to close at exit
  ****************************************************************************************************************
- decoded_style = case style                              |
    when "current"  then current_social_network_style     | 
    when "super"    then super_social_network_style       |
    else                 style                            |
  end                 

.border-1
.panel-header{ style: decoded_style }
  .panel-title
    = defined?(title) ? title : ''
    .float-right
      = link_to hide_path("#{f_uuid}"), remote: :true, title: t('button.exit') do
        %i.im-uncheck.to-right{ :style => "color: #ffffff;"}
.spacer
-#
  = render partial: 'forms/header', locals: { style: 'current', f_uuid: f_uuid }
  .page-thumbnail{ style: "color: #{subject_profile.text_color}; background-color: #{subject_profile.background_color}; " }
    = translate('subject_profile.view.header', operation: t('operation.edit'), full_name: subject.full_name)
