- csn = current_social_network
- if logged_in?
  .post-left-container
    #post-header-left
      = bootstrap_form_for(post, :remote => :true ) do |f|
        .post-text.nothing.shadowing= f.text_area :content, :hide_label => :true

        .spacer
        .row.nothing
          .buttons-line-m.post-width.nothing.shadowing
            .post-icon.nothing
              %button.nothing.btn-icon-only{ :type => "button", "data-target" => "#add-images", "data-toggle" => "collapse", :title => "Add images" }
                %i.hoverable.im-camera.im-17x
            .post-icon.nothing.disabled
              %button.nothing.btn-icon-only{ :type => "button", "data-target" => "#add-movies", "data-toggle" => "collapse", :title => "Add images" }
                %i.hoverable.im-film.im-17x
            .post-icon.nothing.disabled
              %button.nothing.btn-icon-only{ :type => "button", "data-target" => "#add-files", "data-toggle" => "collapse", :title => "Add images" }
                %i.hoverable.im-user-plus.im-17x
            .post-icon.nothing.disabled
              = link_to dummy_path, :remote => :true, :title => "Add file" do
                %i.hoverable.im-attachment.im-17x
            .post-icon.nothing.disabled
              = link_to dummy_path, :remote => :true, :title => "Add an emoticon" do
                %i.hoverable.im-happy.im-17x
            .post-icon.nothing
              = f.submit :remote => :true, :title => "Send the post" do
                %i.hoverable.im-send-post.im-17x

        #add-images.collapse.row.nothing
          .buttons-line-m.post-width.nothing.btn-file.shadowing
            - (0..4).each do |cnt|
              .post-icon.nothing
                %span.nothing.fileinput.fileinput-new{"data-provides" => "fileinput"}
                  %span.nothing.fileinput-preview.fileinput-exists.thumbnail{:style => "width: 36px; height: 36px;"}
                  %span.nothing.fileinput-exists  
                    %a.icon_only{"data-dismiss" => "fileinput", :href => "#"} 
                      %i.hoverable.im-cancel-circle
                  %span.image-upload.fileinput-new
                    %label{ :for => "image#{cnt}" }
                      %i.hoverable.im-add-photo.im-17x
                    %input{:id => "image#{cnt}", :name => "post[image#{cnt}]", :type => "file" }


          #add-movies.collapse.row.nothing.shadowing
            .buttons-line-m.post-width.nothing.btn-file
              = "Here will be movies"

          #add-files.collapse.row.nothing.shadowing
            .buttons-line-m.post-width.nothing.btn-file
              = "Here will be files"

        .row.nothing
          .buttons-line-m.post-width.nothing.shadowing
            .post-icon.nothing
              = link_to posts_list_path( csn.uuid, "all"), :remote => :true, :title => "View all posts" do
                %i.activable.im-all-posts.im-17x
            .post-icon.nothing
              = link_to posts_list_path( csn.uuid, "iparticipate"), :remote => :true, :title => "View my posts" do
                %i.activable.im-my-posts.im-17x
            .post-icon.nothing
              = link_to posts_list_path( csn.uuid, "iprefere"), :remote => :true, :title => "View my preferred posts" do
                %i.activable.im-bookmarks.im-17x

  .post-right-container.shadowing
    = render partial: 'shared/people'

