- csn = current_social_network
- if logged_in?
  #common-header-left
    = bootstrap_form_for(post, :remote => :true ) do |f|
      .command
        .post-text.nothing= f.text_area :content, :hide_label => :true
      .spacer
      .row.nothing
        .buttons.nothing
          .post-icon.nothing
            = f.submit :remote => :true, :title => "Send the post" do
              -#= link_to posts_path, :type => "submit", :name => "commit", :method => :post, :remote => :true, :hide_label => :true, :title => "Send the post" do
              -#%a{ :href => "posts", :method => :post, :type => "submit", :name => "commit", :hide_label => :true, :title => "Send the post"  } 
              %i.hoverable.im-send-post.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Add a photo" do
              %i.hoverable.im-camera.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Add a video" do
              %i.hoverable.im-film.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Tag people" do
              %i.hoverable.im-user-plus.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Add file" do
              %i.hoverable.im-attachment.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Add an emoticon" do
              %i.hoverable.im-happy.im-17x
      .spacer
      .row.nothing
        .buttons.nothing
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Show all posts" do
              %i.activable.im-all-posts.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Show my posts" do
              %i.activable.im-my-posts.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Show my preferred posts" do
              %i.activable.im-bookmark.im-17x
          .post-icon.nothing
            = link_to dummy_path, :remote => :true, :title => "Show my dots <TBD>" do
              %i.activable.im-dot.im-17x
          = render partial: 'shared/search'
      #image-list.collapse
        .spacer
        .row.nothing
          .buttons.nothing
            .post-icon.nothing
              = link_to dummy_path, :remote => :true, :title => "Show all posts" do
                %i.activable.im-all-posts.im-17x
      #video-list.collapse
        .spacer
        .row.nothing
          .buttons.nothing
            .post-icon.nothing
              = link_to dummy_path, :remote => :true, :title => "Show all posts" do
                %i.activable.im-all-posts.im-17x
      #attachment-list.collapse
        .spacer
        .row.nothing
          .buttons.nothing
            .post-icon.nothing
              = link_to dummy_path, :remote => :true, :title => "Show all posts" do
                %i.activable.im-all-posts.im-17x
      #tagged-people-list.collapse
        .spacer
        .row.nothing
          .buttons.nothing
            .post-icon.nothing
              = link_to dummy_path, :remote => :true, :title => "Show all posts" do
                %i.activable.im-all-posts.im-17x
  = render partial: 'shared/logo_social_network'
  = render partial: 'shared/people'
