- csn = current_social_network
- if logged_in?
  - post.content = "Post content"

  #post-header-left
    = bootstrap_form_for(post, :remote => :true,  :html => {:multipart => true}) do |f|
      %ul.list-group
        .post-text= f.text_area :content, :hide_label => :true

      %ul.list-group{ :style => "border: 1px solid red; "}
        .command-line-m{ :style => "border: 1px dotted blue; "}
          %button.btn-icon-only{ :type => "button", "data-target" => "#add-images", "data-toggle" => "collapse", :title => "Add images", :style => "sborder: 1px dashed orange; "}
            %i.hoverable.im-camera{ :style => "sborder: 1px solid black; "}
          %button.btn-icon-only{ :type => "button", "data-target" => "#add-movies", "data-toggle" => "collapse", :title => "Add images", :class => "disabled" }
            %i.hoverable.im-film
          %button.btn-icon-only{ :type => "button", "data-target" => "#add-files", "data-toggle" => "collapse", :title => "Add images", :class => "disabled" }
            %i.hoverable.im-subject-plus
          = link_to dummy_path, :remote => :true, :title => "Add file", :class => "disabled" do
            %i.hoverable.im-attachment
          = link_to dummy_path, :remote => :true, :title => "Add an emoticon", :class => "disabled", :style => "sborder: 1px dashed orange; " do
            %i.hoverable.im-happy{ :style => "sborder: 1px solid black; "}
          = f.submit :remote => :true, :title => "Send the post", :value => "Send the post" do
            %i.hoverable.im-send-post

      %ul#add-images.list-group.collapse{ :style => "background-color:  white; sborder: 1px solid maroon; height: 150px;"}
        .command-line
          - ratio_image = 600.0 / 300.0
          - button_caption = "+" #t("post.view.photo_button_caption")
          - post_folder_name = build_post_image_path
          - (0..4).each do |cnt|
            :javascript 
              cloudinary.applyUploadWidget(document.getElementById("upload_subject_photo#{cnt}"), 
              { cloud_name: "#{cloudinary_name?}", 
              stylesheet: document.baseURI+'/assets/cloudinary.css',
              button_class: 'joinple-button-add-image',
              cropping: 'server', multiple: 'false',
              cropping_aspect_ratio: "#{ratio_image}", 
              cropping_default_selection_ratio: "1", 
              button_caption: "#{button_caption}",
              upload_preset: 'post-image', 
              field_name: "post[image#{cnt}]", 
              folder: "#{post_folder_name}", 
              min_image_width: "600", min_image_height: "300" },
                function(error, result) {console.log(error, result)});
            %div{ :id => "upload_subject_photo#{cnt}"}


      -#%ul#add-images.list-group.collapse{ :style => "background-color:  white; sborder: 1px solid maroon;"}
        .command-line
          %div= "add your images ... "
          - (0..4).each do |cnt|
            %div.fileinput.fileinput-new{"data-provides" => "fileinput"}
              %span.fileinput-preview.fileinput-exists.thumbnail{:style => "width: 36px; height: 36px;"}
              %span.fileinput-exists  
                %a.icon_only{"data-dismiss" => "fileinput", :href => "#"} 
                  %i.hoverable.im-cancel-circle
              %span.image-upload.fileinput-new
                %label{ :for => "image#{cnt}" }
                  %i.hoverable.im-add-photo
                %input{:id => "image#{cnt}", :name => "post[image#{cnt}]", :type => "file" }

      %ul#add-movies.list-group.collapse{ :style => "background-color:  white;"}
        .command-line-m
          = "Here will be movies"

      %ul#add-files.list-group.collapse{ :style => "background-color:  white;"}
        .command-line-m
          = "Here will be files"

      %ul.list-group{ :style => "background-color:  white; sborder: 1px solid green;"}
        .command-line-m
          = link_to posts_list_path( csn.uuid, "ifollow"), :remote => :true, :title => "My following posts" do
            %i.activable.im-following-post
          = link_to posts_list_path( csn.uuid, "all"), :remote => :true, :title => "All posts" do
            %i.activable.im-all-posts
          = link_to posts_list_path( csn.uuid, "iparticipate"), :remote => :true, :title => "My posts" do
            %i.activable.im-my-posts
          = link_to posts_list_path( csn.uuid, "iprefere"), :remote => :true, :title => "My preferred posts" do
            %i.activable.im-bookmarks

  .post-right-container.shadowing
    = render partial: 'shared/people'

