- require 'base64'
- if post.errors.count == 0
  - rels = count_relationships(post)
  %div
    - arr = Array.new
    - arr << post.image0 unless post.image0.length == 0  
    - arr << post.image1 unless post.image1.length == 0  
    - arr << post.image2 unless post.image2.length == 0  
    - arr << post.image3 unless post.image3.length == 0  
    - arr << post.image4 unless post.image4.length == 0  
    - image_cnt = arr.length

    -# #####################################################################################

    .post{ :id => post.uuid }
      .header
        .relative.nothing
          - case image_cnt
            - when 0
              .solida-background
            - when 1
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[0].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[0].url(:post), :class => "img-c0"
            - when 2
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[0].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[0].url(:post_sq), :class => "img-c1"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[1].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[1].url(:post_sq), :class => "img-c1"
            - when 3
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[0].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[0].url(:post_sq), :class => "img-c1"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[1].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[1].url(:post_s), :class => "img-c2"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[2].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[2].url(:post_s), :class => "img-c2"
            - when 4
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[0].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[0].url(:post_s), :class => "img-c2"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[1].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[1].url(:post_s), :class => "img-c2"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[2].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[2].url(:post_s), :class => "img-c2"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[3].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[3].url(:post_s), :class => "img-c2"  
            - when 5
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[0].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[0].url(:post_sq), :class => "img-c1"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[1].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[1].url(:post_sq), :class => "img-c3"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[2].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[2].url(:post_sq), :class => "img-c3"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[3].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[3].url(:post_sq), :class => "img-c3"
              = link_to show_image_path( img: UrlSafeBase64.encode64(arr[4].to_s) ), :remote => :true, :method => :post do
                = image_tag arr[4].url(:post_sq), :class => "img-c3"
          = render partial: 'users/owner', locals: { object: post, type: "owner"  }

      .border-1
      .content
        - if post.content.length > 300
          = post.content[0...300]
          = link_to dummy_path(post,'Post','likes'), :remote => :true, :title => "read more" do
            "... more"
        - else
          = post.content[0...300]
      .border-1

      .commands
        .spacer
        .command-button
          .spaced-icon
            = link_to dummy_path(post,'Post','likes'), :remote => :true, :title => "Likes" do
              %i.im-likes.im-20x
              = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          .spaced-icon
            = link_to dummy_path(post,'Post','likes'), :remote => :true, :title => "Preferreds" do
              %i.im-discussions-groups.im-20x
              = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
          .spaced-icon
            = link_to dummy_path(post,'Post','likes'), :remote => :true, :title => "Repost" do
              %i.im-bi-follow.im-20x
              = rels["out-follows-User"].nil? ? 0 : rels["out-follows-User"]
        .border-1

    .spacer