= t("account_activation.mail_text.title")

= t("account_activation.mail_text.salutation") 
= "#{@subject.first_name},"

= t("account_activation.mail_text.text1")
%a{ :href => "#{@url}account_activations/#{@subject.activation_token}/edit?email=#{@subject.email}" }
	= t("account_activation.mail_text.activation")

= t("account_activation.mail_text.text2")

= t("account_activation.mail_text.signature")


/account_activations/8XkKGnYHSg4LhZ9f2mBs1A/edit?email=pdipietro%40diviana.net"