

%h1=t("account_activation.mail_text.title")
%p
	= t("account_activation.mail_text.salutation") 
	= "#{@subject.first_name},"
%p
	= t("account_activation.mail_text.text1")
	%a{ :href => "#{@url}account_activations/#{@subject.activation_token}/edit?email=#{@subject.email}" }
		= t("account_activation.mail_text.activation")

	= t("account_activation.mail_text.text2")
%p
	= t("account_activation.mail_text.signature")
