= t("account_activation.mail_text.title")

= t("account_activation.mail_text.salutation") 
= "#{@subject.first_name},"

= t("account_activation.mail_text.text1")
= link_to t("account_activation.mail_text.activation"), edit_account_activation_url(@subject.activation_token, email: @subject.email)
= t("account_activation.mail_text.text2")

= t("account_activation.mail_text.signature")
