.panel.panel-default
  .panel-heading
    %a.toggle{ :type => "toggle", "data-target" => "#test_form", "data-toggle" => "collapse"}
      .panel-title
        - if defined?(title)
          = title
          .button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close" }
        - else
          New test
        %span.caret.to-right
  #test_form.panel-body{ :class => test.errors.count == 0 ? 'collapse in' : 'collapse' }
    = bootstrap_form_for(test, :remote => :true ) do |f|
      = f.text_field :description, :prepend => :description, :placeholder => "Enter a short description of the test", :hide_label => :true, :text => "test description"
      %button.icon_only{ :type => "submit", :name => "commit", :hide_label => :true, :title => "Save the element" } 
        %span.glyphicon.glyphicon-save


-#
  = form_for (@test, :remote => :true) do |f|
    - if @test.errors.any?
      #error_explanation
        %h2= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"
        %ul
          - @test.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :description
      = f.text_field :description
    .actions
      = f.submit 'Save'
