-# debugger
- _uuid = SecureRandom.uuid
-# splat(instances, 'Image: instances')
- splat(cloudinary, 'Image: cloudinary')
-# splat(jpl_params, 'Image: jpl_params')
%div{ id: "edit-#{_uuid}" }
  - preset = ImagesHelper::IMAGE_KIND[cloudinary[:preset].gsub(/-/,"_").to_sym]

  = render partial: 'forms/header', locals: { style: 'current', title: cloudinary[:page_header] }

  - _height = defined?(height) ? height : 150

  - clo = cloudinary_name
  - cloudinary_name = 'dev-joinple-com'

  - image_full_uuid = cloudinary[:folder] + '/' + image.cloudinary_id

  = cl_image_tag image_full_uuid, height: _height, crop: :scale, quality: 50, class: 'responsive', default_image: 'default_avatar.png'

  - new_image = Image.new()

  = bootstrap_form_for(new_image, remote: :true, html: { multipart: :true}, cloudinary: cloudinary, connections: connections ) do |g| 

    = g.hidden_field :cloudinary_id
    - set_form({connections: connections, cloudinary: cloudinary})

    %div{ :id => "#{_uuid}-new" }
      :javascript 
        $("#{_uuid}-1").bind('cloudinarywidgetdeleted', function(result) {
        console.log('deleted!');
        console.log(result);
        });
        cloudinary.applyUploadWidget(document.getElementById("#{_uuid}-new"), 
        { 
          cloud_name: "#{cloudinary_name}", 
          stylesheet: document.baseURI+'/assets/cloudinary.css',
          theme: "#{preset[:theme]}",
          button_class: "#{preset[:button_class]}",
          cropping: "#{preset[:cropping]}", 
          multiple: "#{preset[:multiple]}", 
          cropping_aspect_ratio: "#{preset[:cropping_aspect_ratio]}", 
          cropping_default_selection_ratio: "#{preset[:cropping_default_selection_ratio]}", 
          min_image_width: "#{preset[:min_image_width]}", 
          min_image_height: "#{preset[:min_image_height]}",
          upload_preset: "#{preset[:preset_name]}", 

          field_name: 'cloudinary_id',
          button_caption: "#{t('button.image.change')}",
          public_id: "#{_uuid}",
          folder: "#{cloudinary[:folder]}"
        },
          function(error, result) {console.log(error, result)});

    = render partial: 'forms/footer', locals: { style: 'current' }
