- _preset = ImagesHelper::IMAGE_KIND[preset.gsub(/-/,"_").to_sym]

- uuid = "I"+SecureRandom.uuid

= f.hidden_field field_name.to_sym

%div{ :id => "#{uuid}" }
  :javascript 
    cloudinary.applyUploadWidget(document.getElementById("#{uuid}"), 
    { 
      cloud_name: "#{cloudinary_name?}", 
      stylesheet: document.baseURI+'/assets/cloudinary.css',
      theme: "#{_preset[:theme]}",
      button_class: "#{_preset[:button_class]}",
      cropping: "#{_preset[:cropping]}", 
      multiple: "#{_preset[:multiple]}", 
      cropping_aspect_ratio: "#{_preset[:cropping_aspect_ratio]}", 
      cropping_default_selection_ratio: "#{_preset[:cropping_default_selection_ratio]}", 
      button_caption: "#{button_caption}",
      upload_preset: "#{_preset[:preset_name]}", 
      field_name: "#{subject}[#{field_name}]", 
      folder: "#{folder}", 
      min_image_width: "#{_preset[:min_image_width]}", 
      min_image_height: "#{_preset[:min_image_height]}"
    },
      function(error, result) {console.log(error, result)});
