!!!
%html
  %head
    - csnn = current_social_network_name?.nil? ? 'JoinPle' : current_social_network_name?
    = logger.debug "current_social_network_name: #{current_social_network_name?}"
    = logger.debug "host name: #{gethostname}"
    %title= csnn.capitalize

    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1'}    
    = csrf_meta_tags
    = google_webfonts_init({              |
        google: ['Roboto Slab', 'Roboto'] |
      })                                  |
    = render 'layouts/shim'
    :javascript
      $(document).on('page:load', function(){
        window['rangy'].initialized = false
      });
  %body{:sn => "#{csnn}"}
    #full-screen-image
    #wrapper{ :bg => "#{current_social_network_background_color?}"}
      #header
        = render 'layouts/header'
      #page.container-fluid

