%nav.navbar-default.navbar-fixed-top{ :role => "navigation" }
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse",  "data-target" => "#navbar" }
        %span.sr-only  Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand.logo
        - if logged_in?
          %span
            = image_tag "joinple_logo.png", size: ("117x29")
            = "     "
            = image_tag "joinple_logo1.png"
        - else
          = image_tag "joinple_logo1.png"
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if Rails.env.development?
          %li
            = "(width: #{session[:width]}, height: #{session[:height]}, pixel ratio: #{session[:pixelRatio]})"
        - unless logged_in?
          %li
            = link_to root_path, :title => "Home" do
              %i.header.im-home
              -#Home
          %li
            = link_to login_path, :remote => :true, :title => "Log in" do
              %i.header.im-login_icon-01-01.path1.path2.path3.path4.path5
              -#Log in
          %li
            = link_to signup_path, :remote => :true, :title => "Sign up" do
              %i.header.im-lsignup_icon-01-01
              -#Sign up
        - else
          %li
            = link_to root_path, :remote => :true, :title => "Go to SSN" do
              %i.header.im-home
          %li
            = link_to users_path, :remote => :true, :title => "People" do
              %i.header.im-man-woman
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", :id => "dropdownSocial", "data-toggle" => "dropdown", :type => "button", :title => "Social networks", "aria-expanded" => "false"}
              %i.header.im-shuffle
              %span.caret
            %ul.dropdown-menu{ :role => "menu", "aria-labelledby" => "dropdownSocial" }
              - @social_networks = SocialNetwork.all.order(created_at: :desc)
              - @social_networks.each do |social_network| 
                - if social_network.name != current_social_network_name?
                  %li
                    %a{ :href => "#{calculate_full_path(social_network)}" }
                      %i.header-dropdown.im-pallino{ :style => "color: #{social_network.background_color};" }
                      = social_network.name
          %li
            = link_to root_path, :remote => :true, :title => "Notifications" do
              %i.header.im-bell
          %li
            = link_to users_path, :remote => :true, :title => "Messages" do
              %i.header.im-envelop
          %li.dropdown.navbar-brand
            %a.dropdown-toggle{ :href => "#", "aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", :title => "About the 'Super Social Network'"} 
              %i.header.im-file-text2
              %span.caret
            %ul.dropdown-menu{ :role => "menu"}
              %li
                = link_to privacy_path, :remote => :true do
                  %i.header-dropdown.im-privacy
                  Privacy
              %li
                = link_to contacts_path, :remote => :true do
                  %i.header-dropdown.im-contacts
                  Contacts
              %li
                = link_to terms_path, :remote => :true do
                  %i.header-dropdown.im-terms
                  Terms & Conditions
              %li.divider
              %li
                = link_to help_path, :remote => :true do
                  %i.header-dropdown.im-lifebuoy
                  Help
              %li
                = link_to help_path, :remote => :true do
                  %i.header-dropdown.im-faq
                  FAQ
              %li
                = link_to about_path, :remote => :true do
                  %i.header-dropdown.im-about
                  About
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", :id => "dropdownUser", "data-toggle" => "dropdown", :type => "button", :title => "Myself",  "aria-expanded" => "false"}
              %span
                %i.header-dropdown.im-user-plus
                = current_user.first_name
                %span.caret
            %ul.user.dropdown-menu{ :role => "menu", "aria-labelledby" => "dropdownUser" }
              %li
                = link_to posts_path, :remote => :true do
                  %i.header-dropdown.im-about
                  My discussions
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  My workrooms
              %li.divider
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  Setting
              %li.divider
              %li
                = link_to user_profiles_path, :remote => :true do
                  %i.header-dropdown.im-profile_setting
                  Change profile
              %li
                = link_to current_user, :remote => :true do
                  %i.header-dropdown.im-about
                  Change password
              %li.divider
              %li
                = link_to current_user, :remote => :true do
                  %i.header-dropdown.im-about
                  Everythings
              %li
                = link_to logout_path, method: "delete", :title => "Log out" do
                  %i.header-dropdown.im-about
                  Log out
              - if is_admin?
                %li.divider
                %li.header
                  Administration
                %li
                  = link_to landing_pages_path, :remote => :true  do
                    %i.header-dropdown.im-about
                    Landing page
                %li
                  = link_to social_networks_path, :remote => :true  do
                    %i.header-dropdown.im-about
                    Social networks
                %li.divider
                %li
                  = link_to languages_path, :remote => :true  do
                    %i.header-dropdown.im-about
                    Languages
                %li
                  = link_to dummy_path, :remote => :true  do
                    %i.header-dropdown.im-about
                    Administrators
                %li
                  = link_to tests_path  do
                    %i.header-dropdown.im-about
                    Test
                -#%li
                  = link_to image_list_path  do
                    %i.header-dropdown.im-about
                    Media Manager
