- ip = request.env['HTTP_X_FORWARDED_FOR']
- language = extract_locale_from_accept_language_header
- background_color = get_background
%nav.navbar-default.navbar-fixed-top{ :role => "navigation" }
  - subject_profile = logged_in? ? current_subject.has_profile : nil
  .container-fluid.shadowing
    .navbar-header
      %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse",  "data-target" => "#navbar" }
        %span.sr-only  Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand.logo
        = cl_image_tag("logo_joinple.png", :width => 110, :crop=>:scale, :fetch_format=>:auto, :class => "logo")
        = render partial: 'layouts/stage'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - unless logged_in?
          %li
            = link_to root_path, :title => t("layout.view.header.joinple_home") do
              %i.im-home
              -#Home
          %li
            = link_to login_path, :remote => :true, :title => t("layout.view.header.login") do
              %i.im-login-landing
          %li
            = link_to signup_path, :remote => :true, :title => t("layout.view.header.signup") do
              %i.im-signup-landing
        - else
          %li
            = link_to root_path, :remote => :true, :title => t("layout.view.header.goto_joinple") do
              %i.im-home
          %li
            = link_to subjects_path, :remote => :true, :title => t("layout.view.header.people") do
              %i.im-people-sidebardx
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", :id => "dropdownSocial", "data-toggle" => "dropdown", :type => "button", :title => t("layout.view.header.social_networks"), "aria-expanded" => "false"}
              %i.im-like-top
              %span.caret
            %ul.dropdown-menu{ :role => "menu"}
              #social_network_list
                = render partial: 'layouts/social_networks' 
          %li
            = link_to root_path, :remote => :true, :title => t("layout.view.header.notifications") do
              %i.im-bell
          %li
            = link_to subjects_path, :remote => :true, :title => t("layout.view.header.messages") do
              %i.im-envelop
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", "aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", :title => t("layout.view.header.about") }
              %i.im-terms
              %span.caret
            %ul.dropdown-menu{ :role => "menu"}
              %li
                = link_to privacy_path, :remote => :true, :title => t("layout.view.header.privacy") do
                  %i.header-dropdown.im-eye
                  = t("layout.view.header.privacy")
              %li
                = link_to contacts_path, :remote => :true, :title => t("layout.view.header.contacts") do
                  %i.header-dropdown.im-contacts
                  = t("layout.view.header.contacts")
              %li
                = link_to terms_path, :remote => :true, :title => t("layout.view.header.terms_and_conditions") do
                  %i.header-dropdown.im-terms-conditions
                  = t("layout.view.header.terms_and_conditions")
              %li.divider
              %li
                = link_to help_path, :remote => :true, :title => t("layout.view.header.help") do
                  %i.header-dropdown.im-lifebuoy
                  = t("layout.view.header.help")
              %li
                = link_to help_path, :remote => :true, :title => t("layout.view.header.faq") do
                  %i.header-dropdown.im-faq
                  = t("layout.view.header.faq")
              %li
                = link_to about_path, :remote => :true, :title => t("layout.view.header.about") do
                  %i.header-dropdown.im-contacts
                  = t("layout.view.header.about")
          %li.dropdown
            %a.dropdown-toggle.header-subject-photo{ :href => "#", :id => "dropdownSubject", "data-toggle" => "dropdown", :type => "button", :title => t("layout.view.header.myself"),  "aria-expanded" => "false"}
              -#%span
              = render partial: 'subject_profiles/photo_show', locals: { subject_profile: subject_profile, size: :header, shape: "circle" }
              %span.welcome= t("layout.view.header.welcome") + "#{current_subject.first_name}"
              %span.caret
            %ul.subject.dropdown-menu{ :role => "menu" }
              %li
                = link_to posts_path, :remote => :true do
                  %i.header-dropdown.im-about
                  = t("layout.view.header.my_books")
              %li
                = link_to subject_profile_path(subject_profile.uuid), :remote => :true, :title => "Edit subject profile" do
                  %i.header-dropdown.im-about
                  = t("layout.view.header.my_profiles")
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  = t("layout.view.header.settings")
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  = t("layout.view.header.my_preferites")
              %li
                = link_to logout_path, method: "delete", :title => "Log out" do
                  %i.header-dropdown.im-logout
                  = t("layout.view.header.log_out")
              - if is_admin?
                %li.divider
                %li.header
                  = t("layout.view.header.administration")
                %li
                  = link_to landing_pages_path, :remote => :true  do
                    %i.header-dropdown.im-landing-page
                    = t("layout.view.header.landing_page")
                %li
                  = link_to social_networks_list_path("iparticipate"), :remote => :true  do
                    %i.header-dropdown.im-social-networks
                    = t("layout.view.header.social_networks")
                %li.divider
                %li
                  = link_to languages_path, :remote => :true  do
                    %i.header-dropdown.im-language
                    = t("layout.view.header.languages")
                %li
                  = link_to dummy_path, :remote => :true  do
                    %i.header-dropdown.im-administrator
                    = t("layout.view.header.administrators")
                %li.divider
              %li
                %a.toggle{ :type => "toggle", "data-target" => "#tech-info", "data-toggle" => "collapse"}
                  %i.header-dropdown.im-about
                  = t("layout.view.header.view_config")

