<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <%= link_to image_tag("icon/social/211x211/crowdup.png", alt: "CrowdUp logo", class: "logo_image"), 'http://www.crowdupcafe.com/' %>
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
