- background_color = get_background
%nav.navbar-default.navbar-fixed-top{ :role => "navigation" }
  - subject_profile = logged_in? ? current_subject.has_profile : nil
  .container-fluid.shadowing
    .navbar-header
      %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse",  "data-target" => "#navbar" }
        %span.sr-only  Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand.logo
        = image_tag "joinple_logo.png"
      - unless ENV['RAILS_ENV'] == "production"
        .stage
          = ENV['RAILS_ENV']
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        -# unless ENV['RAILS_ENV'] == "production"
          %li.stage
            = stage.humanize 
            -#= ENV['RAILS_ENV']
        - unless logged_in?
          %li
            = link_to root_path, :title => "Joinplee home" do
              %i.im-home
              -#Home
          %li
            = link_to login_path, :remote => :true, :title => "Log in" do
              %i.im-login-landing
          %li
            = link_to signup_path, :remote => :true, :title => "Sign up" do
              %i.im-signup-landing
        - else
          %li
            = link_to root_path, :remote => :true, :title => "Go to Joinple" do
              %i.im-home
          %li
            = link_to subjects_path, :remote => :true, :title => "People" do
              %i.im-people-sidebardx
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", :id => "dropdownSocial", "data-toggle" => "dropdown", :type => "button", :title => "Social networks", "aria-expanded" => "false"}
              %i.im-like-top
              %span.caret
            %ul.dropdown-menu{ :role => "menu"}
              #social_network_list
                = render partial: 'layouts/social_networks' 
          %li
            = link_to root_path, :remote => :true, :title => "Notifications" do
              %i.im-bell
          %li
            = link_to subjects_path, :remote => :true, :title => "Messages" do
              %i.im-envelop
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", "aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", :title => "About the 'Super Social Network'"} 
              %i.im-terms
              %span.caret
            %ul.dropdown-menu{ :role => "menu"}
              %li
                = link_to privacy_path, :remote => :true, :title => "Privacy" do
                  %i.header-dropdown.im-eye
                  Privacy
              %li
                = link_to contacts_path, :remote => :true, :title => "Contacts" do
                  %i.header-dropdown.im-contacts
                  Contacts
              %li
                = link_to terms_path, :remote => :true, :title => "Terms and conditions" do
                  %i.header-dropdown.im-terms-conditions
                  Terms & Conditions
              %li.divider
              %li
                = link_to help_path, :remote => :true, :title => "Help" do
                  %i.header-dropdown.im-lifebuoy
                  Help
              %li
                = link_to help_path, :remote => :true, :title => "FAQ" do
                  %i.header-dropdown.im-faq
                  FAQ
              %li
                = link_to about_path, :remote => :true, :title => "About" do
                  %i.header-dropdown.im-contacts
                  About
          %li.dropdown
            %a.dropdown-toggle.header-subject-photo{ :href => "#", :id => "dropdownSubject", "data-toggle" => "dropdown", :type => "button", :title => "Myself",  "aria-expanded" => "false"}
              -#%span
              = image_tag subject_profile.photo.url(:btn), :size => ("32x32"), :class => "circle"
              %span.welcome= "Welcome, #{current_subject.first_name}"
              %span.caret
            %ul.subject.dropdown-menu{ :role => "menu" }
              %li
                = link_to posts_path, :remote => :true do
                  %i.header-dropdown.im-about
                  My book ()
              %li
                = link_to subject_profile_path(subject_profile.uuid), :remote => :true, :title => "Edit subject profile" do
                  %i.header-dropdown.im-about
                  My profiles
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  Settings
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  My preferites
              %li
                = link_to logout_path, method: "delete", :title => "Log out" do
                  %i.header-dropdown.im-logout
                  Log out
              - if is_admin?
                %li.divider
                %li.header
                  Administration
                %li
                  = link_to landing_pages_path, :remote => :true  do
                    %i.header-dropdown.im-landing-page
                    Landing page
                %li
                  -#= link_to social_networks_path(current_social_network_name?), :remote => :true  do
                  = link_to social_networks_list_path("iparticipate"), :remote => :true  do
                    %i.header-dropdown.im-social-networks
                    Social networks
                %li.divider
                %li
                  = link_to languages_path, :remote => :true  do
                    %i.header-dropdown.im-language
                    Languages
                %li
                  = link_to dummy_path, :remote => :true  do
                    %i.header-dropdown.im-administrator
                    Administrators
                %li.divider
              -#%li
                = link_to :href => "", :type => "toggle", "data-target" => "#tech-info", "data-toggle" => "collapse" do
                  %i.header-dropdown.im-about
                  View config
              %li
                %a.toggle{ :type => "toggle", "data-target" => "#tech-info", "data-toggle" => "collapse"}
                  %i.header-dropdown.im-about
                  View config

-#
              %li
                = link_to posts_path, :remote => :true do
                  %i.header-dropdown.im-about
                  My discussions
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  My workrooms
              %li.divider
              %li
                = link_to groups_path, :remote => :true do
                  %i.header-dropdown.im-about
                  Setting
              %li.divider
              %li
                = link_to edit_subject_profile_path(subject_profile.id), :remote => :true do
                  %i.header-dropdown.im-profile-setting
                  Change profile
              %li
                = link_to current_subject, :remote => :true do
                  %i.header-dropdown.im-about
                  Change password
              %li.divider
              %li
                = link_to current_subject, :remote => :true do
                  %i.header-dropdown.im-about
                  Everythings
