- unless deploy?
  - language = extract_locale_from_accept_language_header
  %span.stage
    = language
    = ' - '
    = humanized_stage 
    = ' - '
    = session[:full_version] 
    = ' - '
    = t('browser_geometry').html_safe
    = browser_geometry
