<!DOCTYPE html>
<html lang="en" data-ng-app="aGsn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<!--, initial.scale=1.0"-->
  <title><%= content_for?(:title) ? yield(:title) : "aGsn" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
</head>
<body>
	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<h1>Application controller</h1>
		<div data-ng-view></div>
	</div>

	<%= javascript_include_tag "application" %>
</body>
</html>
