!!!
%html
  %head
    - csnn = current_social_network_name?.nil? ? "JoinPle" : current_social_network_name?
    = puts " ******************************************* #{current_social_network_name?}"
    = puts " ******************************************* #{gethostname}"
    %title= csnn.capitalize
    :javascript
      document.cookie='width='+screen.width;
      document.cookie='height='+screen.height;
      document.cookie='pixelRatio='+("devicePixelRatio" in window ? devicePixelRatio : "1");

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'salvattore', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag '//widget.cloudinary.com/global/all.js', media: 'all', 'data-turbolinks-track' => true

    = csrf_meta_tags
    = google_webfonts_init({              |
        google: ['Roboto Slab', 'Roboto'] |
      })                                  |
    = render 'layouts/shim'
    = puts "=================>>>> HERE IS APPLICATION LAYOUT"
    
    :javascript
      $(function() {
        $('input:checkbox').bootstrapSwitch();
      });
      $(document).on('page:load', function(){
        window['rangy'].initialized = false
      });
    = javascript_include_tag 'salvattore.min', media: 'all', 'data-turbolinks-track' => true
    %body{:sn => "#{csnn}"}
      #wrapper{ :bg => "#{current_social_network_background_color?}"}
        #header
          = render 'layouts/header'
        #page.container-fluid
          = render partial: 'layouts/c3_9_0'


