!!!
%html
  %head
    %title= compute_social_name.capitalize
    = stylesheet_link_tag    'fontastic', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'font-awesome.min', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'glyphicons', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'glyphicons-bootstrap', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    "social/#{get_social_name}_bootstrap", media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -#%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}    
    = csrf_meta_tags
    = render 'layouts/shim'
  %body{:sn => "#{get_social_name}"}
    = render 'layouts/header'
    -#.container
    #page.container-fluid
      - flash.each do |message_type, message|
        %div{:class => "alert alert-#{message_type}"}= message
      = yield
      .row.container-fluid
        = debug(params) if Rails.env.development?