!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -#= javascript_include_tag 'salvattore', media: 'all', 'data-turbolinks-track' => true
    -#= stylesheet_link_tag    'landing-page', media: 'all', 'data-turbolinks-track' => true

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}    
    = csrf_meta_tags
    = google_webfonts_init({              |
        google: ['Roboto Slab', 'Roboto'] |
      })                                  |
    = render 'layouts/shim'
    = logger.debug "------------------ Here is 'landing_pages' layout --"
    %body{:sn => "#{current_social_network_name?}"}
      -#= javascript_include_tag 'salvattore.min', media: 'all', 'data-turbolinks-track' => true
        -#check-browser-size();
      #wrapper
        #header
          = render 'layouts/header'
        #page.container-fluid
          = image_tag "homePage.png", :class => "responsive"
