!!!
%html
  %head
    -#%title= current_social_network_name?.capitalize
    :javascript
      document.cookie='width='+screen.width;
      document.cookie='height='+screen.height;
      document.cookie='pixelRatio='+("devicePixelRatio" in window ? devicePixelRatio : "1");
    = stylesheet_link_tag    'icomoon', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'salvattore', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'landing-page', media: 'all', 'data-turbolinks-track' => true

    -#%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}    
    = csrf_meta_tags
    = render 'layouts/shim'
    = puts "=================>>>> Here is 'landing_pages' layout"
    -#%body{:sn => "#{current_social_network_name?}"}
    %body
      #header
        = render 'layouts/header'
      #page.container-fluid
        = render 'landing_page'
