!!!
%html
  %head
    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}    
    = csrf_meta_tags
    = google_webfonts_init({              |
        google: ['Roboto Slab', 'Roboto'] |
      })                                  |
    = render 'layouts/shim'
    -# %body{:sn => "#{current_social_network_name?}"}
    %body{:sn => "#{current_social_network_name?}"}
      #full-screen-image
      #wrapper
        #header
          = render 'layouts/header'
        #page.container-fluid
          = image_tag "homePage.png", :class => "responsive"
      -#  
        - 100.times do |i|
          = "       " + i.to_s + " => "
          = SecureRandom.uuid
          <br/>

