!!!
%html
  %head 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'salvattore', media: 'all', 'data-turbolinks-track' => true
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}    
    %meta{ :charset => "utf-8"}
    %meta{ :content => "http://dev_landing.www.joinple.com/joinple_logo.jpg", :property => "og:image"}
    %link{ :rel => "image_src", :href => "http://dev_landing.www.joinple.com/joinple_logo.jpg" }  
    = csrf_meta_tags
    = google_webfonts_init({              |
        google: ['Roboto Slab', 'Roboto'] | 
      })                                  |
    = render 'layouts/shim'
    %body
      - ip = request.env['HTTP_X_FORWARDED_FOR']
      - background_color = background
      - src = "landing/v0.7.5/background"

      #full_screen_image
        = render 'cookielaws/show'

      #wrapper
        %nav.navbar-default.navbar-fixed-top{ :role => "navigation" }
          .container-fluid.shadowing
            .navbar-header
              %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse",  "data-target" => "#navbar" }
                %span.sr-only  Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              .navbar-brand.logo
                = cl_image_tag("logo_joinple.png", :width => 110, :crop=>:scale, :fetch_format=>:auto, :class => "logo")
              -#= render partial: 'layouts/stage'
            #navbar.navbar-collapse.collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a.hoverable{ :href => "#page-1" }
                    = t("landing_page.landing_075.page_1.menu").html_safe
                  - " | "
                %li
                  %a.hoverable{ :href => "#page-2" }
                    = t("landing_page.landing_075.page_2.menu").html_safe
                  - " | "
                %li
                  %a.hoverable{ :href => "#page-3" }
                    = t("landing_page.landing_075.page_3.menu").html_safe

        .landing-075
        
          .landing
            #page-1.page1
              .spacer-4x

              .spacer-2x
              .row
                .col-xs-60
                  .t.line1= t("landing_page.landing_075.page_1.line_1").html_safe
              .spacer-4x
              .row.milk
                .col-xs-60.col-sm-30
                  .t.line2= t("landing_page.landing_075.page_1.line_2_col_1").html_safe
                .visible-xs.spacer-2x
                .col-xs-60.col-sm-30
                  .t.line2= t("landing_page.landing_075.page_1.line_2_col_2").html_safe
              .spacer-2x
              .row.footer
                .col-xs-60
                  = t("landing_page.landing_075.page_1.footer").html_safe
              .spacer-2x

              #mailCollection
                = render partial: "mail_collectors/form", object: MailCollector.new, locals: { line: "line_3" }

            .background
              #x
              :javascript
                var h = String($("#page-1").height() + 46);
                var w = String($(window).width());
                var filename = "#{src}"
                $.cloudinary.image(filename, {width: w, height: h, crop: "fill", cloud_name: "dev-joinple-com", responsive: true, dpr: 'auto', style: "width: 100%;"}).appendTo('#x').cloudinary_update();
                $.cloudinary.responsive();

            .page2.container#page-2
              .spacer-4x  
              .row
                .col-xs-60
                  = t("landing_page.landing_075.page_2.title").html_safe
                .spacer-6x
                .col-xs-60.col-sm-30
                  %a{ :href => "https://woobox.com/p8azi6/?web=1" }
                    = cl_image_tag(t("landing_page.landing_075.page_2.image_1"), :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered responsive")
                .visible-xs.spacer-2x
                .col-xs-60.col-sm-30
                  %a{ :href => "https://woobox.com/p8azi6/gallery?tab=1" }
                    = cl_image_tag(t("landing_page.landing_075.page_2.image_2"), :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered responsive")

              .spacer-8x

              .row.points  
                .col-xs-60.col-sm-20.col-md-20
                  = cl_image_tag("look", :width=>56, :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered responsive")
                  .spacer-4x
                  %a{ :href => "https://woobox.com/p8azi6/gallery?tab=1" }
                    = t("landing_page.landing_075.page_2.point_1").html_safe
                .col-xs-60.col-sm-20.col-md-20
                  = cl_image_tag("round-question-mark", :radius=>30, :width=>56, :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered responsive")
                  .spacer-4x
                  = link_to show_document_path( doc: UrlSafeBase64.encode64(t("document.static.joinpleuser1.rules").html_safe) ), :remote => :true, :method => :post, :title => t("cookies.read") do
                    = t("landing_page.landing_075.page_2.point_2").html_safe
                .col-xs-60.col-sm-20.col-md-20
                  = cl_image_tag("picture", :width=>56, :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered responsive")
                  .spacer-4x
                  %a{ :href => "https://www.facebook.com/JoinPle-1378825342446436/?fref=ts" }
                    = t("landing_page.landing_075.page_2.point_3").html_safe

              .spacer-8x

            .page3.container#page-3
              .spacer-4x
              .row
                .line_1
                  = t("landing_page.landing_075.page_3.line_1").html_safe
                .line_2
                  = t("landing_page.landing_075.page_3.line_2").html_safe
              .spacer-8x
              .row
                .col-xs-60.col-sm-20.col-md-20
                  .t.line_3_col_1
                    = link_to show_document_path( doc: UrlSafeBase64.encode64(t("recruitment.app_developer").html_safe) ), :remote => :true, :method => :post, :title => t("cookies.read") do
                      .spacer-4x
                      = cl_image_tag("landing/v0.7.5/app-developer", :width=>180, :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered")
                      .spacer
                      = t("landing_page.landing_075.page_3.line_3_col_1").html_safe
                .col-xs-60.col-sm-20.col-md-20
                  .t.line_3_col_2
                    = link_to show_document_path( doc: UrlSafeBase64.encode64(t("recruitment.web_marketing_specialist").html_safe) ), :remote => :true, :method => :post, :title => t("cookies.read") do
                      .spacer-4x
                      = cl_image_tag("landing/v0.7.5/ux-expert", :width=>180, :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered")
                      .spacer
                      = t("landing_page.landing_075.page_3.line_3_col_2").html_safe
                .col-xs-60.col-sm-20.col-md-20
                  .t.line_3_col_3
                    = link_to show_document_path( doc: UrlSafeBase64.encode64(t("recruitment.rails_angular_developer").html_safe) ), :remote => :true, :method => :post, :title => t("cookies.read") do
                      .spacer-4x
                      = cl_image_tag("landing/v0.7.5/ruby-developer", :width=>180, :crop=>:scale, :fetch_format=>:auto, :dpr => :auto, :class => "centered")
                      .spacer
                      = t("landing_page.landing_075.page_3.line_3_col_3").html_safe
                .spacer-8x

              .row               
                .t.line_4 
                = t("landing_page.landing_075.page_3.line_4").html_safe
              .spacer-8x

            .page4.container#page-4
              .spacer-4x
              .row
                .col-xs-8
                  %a{ :href => "https://www.facebook.com/JoinPle-1378825342446436/?fref=ts" }
                    = cl_image_tag("square-facebook", :width=>32, :crop=>:scale, :fetch_format=>:auto, :class => "centered responsive", :dpr => :auto)
                .col-xs-9
                  %a{ :href => "https://twitter.com/JoinPle" }
                    = cl_image_tag("twitter", :width=>32, :crop=>:scale, :fetch_format=>:auto, :class => "centered responsive", :dpr => :auto)
                .col-xs-9
                  %a{ :href => "https://plus.google.com/109854843918252342387/posts" }
                    = cl_image_tag("round-google", :width=>32, :crop=>:scale, :fetch_format=>:auto, :class => "centered responsive", :dpr => :auto)
                .col-xs-8
                  %a{ :href => "https://www.instagram.com/joinple/" }
                    = cl_image_tag("square-instagram", :width=>32, :crop=>:scale, :fetch_format=>:auto, :class => "centered responsive", :dpr => :auto)
                .col-xs-9
                  %a{ :href => "https://www.pinterest.com/joinple" }
                    = cl_image_tag("round-pinterest", :width=>32, :crop=>:scale, :fetch_format=>:auto, :class => "centered responsive", :dpr => :auto)
                .col-xs-9
                  %a{ :href => "https://www.linkedin.com/company/9401767?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9401767%2Cidx%3A1-1-1%2CtarId%3A1447402098123%2Ctas%3Ajoinple" }
                    = cl_image_tag("square-linkedin", :width=>32, :crop=>:scale, :fetch_format=>:auto, :class => "centered responsive", :dpr => :auto)
                .col-xs-8
                  %a{ :href => "https://www.youtube.com/channel/UC7lsdOWNPfJQz2BTtUwR0ow" }
                    = cl_image_tag("square-youtube", :width=>32, :crop=>:scale, :fetch_format=>:auto, :class => "centered responsive", :dpr => :auto)
              .spacer-4x

            .footer
              .spacer-4x
              .row
                .col-xs-20
                  = link_to show_document_path( doc: UrlSafeBase64.encode64(t("document.static.privacy.disclaimer").html_safe) ), :remote => :true, :method => :post, :title => t("cookies.read") do
                    = t("landing_page.landing_075.footer.privacy").html_safe
                .col-xs-40
                  = t("landing_page.landing_075.footer.disclaimer").html_safe
              .spacer-4x
              
:javascript
  $.cloudinary.responsive()



