!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'salvattore', media: 'all', 'data-turbolinks-track' => true
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}    
    = csrf_meta_tags
    = google_webfonts_init({              |
        google: ['Roboto Slab', 'Roboto'] |
      })                                  |
    = render 'layouts/shim'
    %body
      :javascript
        document.cookie='width='+screen.width;
        document.cookie='height='+screen.height;
        document.cookie='pixelRatio='+("devicePixelRatio" in window ? devicePixelRatio : "1.0");
        document.cookie='windowHeight='+$(window).height();
        document.cookie='windowWidth='+$(window).width();
      -#{:style => "width: #{browser_width}px;"}
      .landing-075 
        - puts "browser_geometry: browser_width: #{browser_width}, dpr: #{browser_pixelRatio}, height: #{browser_height}, windowHeight: #{window_height}, windowWidth: #{window_width}"
      
        - ip = request.env['HTTP_X_FORWARDED_FOR']

        - if ip.start_with?("192.168.10.") or ip == ("100.78.25.223") or ip == "66.249.65.4" # or true # and false

          .landing
            .page1
              .background
                - x = 1 #+ rand(4)
                - src = "landing/0.75/landing-#{x}.jpg"
                = cl_image_tag "#{src}", :class => "responsive", :style => "width: #{window_width}px;", :crop => :scale, :dpr => :auto
                
                -#:javascript
                  var h = $(window).height();
                  var filename = "#{src}"
                  $.cloudinary.image(filename, {width: "auto", height: h, crop: "fill", cloud_name: "dev-joinple-com", responsive: true, dpr: 'auto', style: "height: 100%"}).appendTo('#wrapper-page1').cloudinary_update();
                  $.cloudinary.responsive();
-#
              .container
              .spacer-4x  
              .row
                .col-xs-60.col-sm-30
                  .t.line_1.col_2.part_1
                    = t("landing_page.landing_075.page_2.line_1.col_1.part_1").html_safe
                  .t.line_1.col_2.part_2
                    = t("landing_page.landing_075.page_2.line_1.col_1.part_2").html_safe
                .col-xs-60.col-sm-30
                  .t.line_1
                    = cl_image_tag "landing/0.75/logo-contest.it.png", :class => "centered responsive", :dpr => :auto    
              .spacer-8x  
              .row
                .col-xs-60.col-sm-30.col-md-20
                  = cl_image_tag("round-1.png", :radius=>30, :width=>56, :crop=>:scale, :fetch_format=>:auto, :class => "centered")
                  .t.line_2.col_1
                    = t("landing_page.landing_075.page_2.line_2.col_1").html_safe
                  .spacer-8x
                .col-xs-60.col-sm-30.col-md-20
                  = cl_image_tag("round-2.png", :radius=>30, :width=>56, :crop=>:scale, :fetch_format=>:auto, :class => "centered")
                  .t.line_2.col_2
                    = t("landing_page.landing_075.page_2.line_2.col_2").html_safe
                  .spacer-8x
                .col-xs-60.col-sm-30.col-md-20
                  = cl_image_tag("round-3.png", :radius=>30, :width=>56, :crop=>:scale, :fetch_format=>:auto, :class => "centered")
                  .t.line_2.col_3
                    = t("landing_page.landing_075.page_2.line_2.col_3").html_safe
                  .spacer-8x
                .col-xs-60.col-sm-30.col-md-20
                  = cl_image_tag("round-4.png", :radius=>30, :width=>56, :crop=>:scale, :fetch_format=>:auto, :class => "centered")
                  .t.line_3.col_1
                    = t("landing_page.landing_075.page_2.line_3.col_1").html_safe
                  .spacer-8x
                .col-xs-60.col-sm-30.col-md-20
                  = cl_image_tag("round-5.png", :radius=>30, :width=>56, :crop=>:scale, :fetch_format=>:auto, :class => "centered")
                  .t.line_3.col_2
                    = t("landing_page.landing_075.page_2.line_3.col_2").html_safe
                  .spacer-8x
                .col-xs-60.col-sm-30.col-md-20
                  = cl_image_tag("round-6.png", :radius=>30, :width=>56, :crop=>:scale, :fetch_format=>:auto, :class => "centered")
                  .t.line_3.col_3
                    = t("landing_page.landing_075.page_2.line_3.col_3").html_safe
                  .spacer-8x
              .spacer-4x
              .row
                .col-xs-60.col-sm-30
                  .t.line_4.col_1
                    = t("landing_page.landing_075.page_2.line_4.col_1").html_safe
                  = cl_image_tag("1-orizontal2_ougqgh", :width=>300, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                  .spacer
                .col-xs-60.col-sm-30
                  .t.line_4.col_3
                    = t("landing_page.landing_075.page_2.line_4.col_3").html_safe
                  = cl_image_tag("1-orizontal2_ougqgh", :width=>300, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                  .spacer
              .spacer-8x
              .row
                .t.line_4.col_2
                  = t("landing_page.landing_075.page_2.line_4.col_2").html_safe
                .col-xs-12
                  = cl_image_tag("facebook_x1i3az.png", :width=>70, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                .col-xs-12
                  = cl_image_tag("twitter_vh94ez.png", :width=>70, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                .col-xs-12
                  = cl_image_tag("google_tun9e8.png", :width=>70, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                .col-xs-12
                  = cl_image_tag("instagram_jgobub.png", :width=>70, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                .col-xs-12
                  = cl_image_tag("whatsapp_tdq3nc.png", :width=>70, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
              .spacer-4x

            -#.page3.container
              .spacer-4x
              .row
                .t.line_1
                  = t("landing_page.landing_075.page_3.line_1").html_safe
                .t.line_2
                  = t("landing_page.landing_075.page_3.line_2").html_safe
              .spacer-8x
              .row
                .col-xs-60.col-sm-20.col-md-20
                  .t.line_3_col_1
                    = cl_image_tag("app-developer_j4alaf", :width=>180, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                    = t("landing_page.landing_075.page_3.line_3_col_1").html_safe
                .col-xs-60.col-sm-20.col-md-20
                  .t.line_3_col_2
                    = cl_image_tag("ux-expert_hxdymg", :width=>180, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                    = t("landing_page.landing_075.page_3.line_3_col_2").html_safe
                .col-xs-60.col-sm-20.col-md-20
                  .t.line_3_col_3
                    = cl_image_tag("ruby-developer_sct35b", :width=>180, :crop=>:scale, :fetch_format=>:auto, :class => "centered", :dpr => :auto)
                    = t("landing_page.landing_075.page_3.line_3_col_3").html_safe
              .spacer-8x

              .row               
                .t.line_4 
                = t("landing_page.landing_075.page_3.line_4").html_safe
              .spacer-8x


            -#.footer.container
              .spacer-4x
              .row
                = t("landing_page.landing_075.footer.line").each do |c|
                  .col-md-8.col-xs-6
                    = c.html_safe

-#:javascript
  $.cloudinary.responsive()

